flows.json
[{"id":"35eff90d.7e3136","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"a1390874.1c5c3","type":"tab","label":"Pressure","disabled":false,"info":""},{"id":"556b50d.3e71e3","type":"tab","label":"Cycles","disabled":false,"info":""},{"id":"e0c2c727.aefb48","type":"tab","label":"Metrics","disabled":false,"info":""},{"id":"e01f204d.183cc","type":"tab","label":"Tank","disabled":false,"info":""},{"id":"85511010.76ceb","type":"tab","label":"Hidrocapital","disabled":false,"info":""},{"id":"151202e2.a49d4d","type":"tab","label":"Devices","disabled":false,"info":""},{"id":"ac9ad243.390d","type":"tab","label":"Grafana","disabled":true,"info":""},{"id":"b0393337.b9c61","type":"tab","label":"Discharge cycle","disabled":true,"info":""},{"id":"c864b563.c9122","type":"tab","label":"multiple devices cycles","disabled":false,"info":""},{"id":"13777501.a49f1b","type":"ui_group","z":"","name":"Presion","tab":"f6f99e66.08d73","disp":true,"width":"6","collapse":true},{"id":"311e598e.414d8e","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#ff8040","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#000080","baseFont":"Arial Narrow,Nimbus Sans L,sans-serif","edited":true,"reset":false},"customTheme":{"name":"BlueMost 1","default":"#4B7930","baseColor":"#00006c","baseFont":"Arial Narrow,Nimbus Sans L,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#00006c","edited":true},"page-titlebar-backgroundColor":{"value":"#00006c","edited":false},"page-backgroundColor":{"value":"#000020","edited":true},"page-sidebar-backgroundColor":{"value":"#0080ff","edited":true},"group-textColor":{"value":"#e6e6ff","edited":true},"group-borderColor":{"value":"#0909ff","edited":true},"group-backgroundColor":{"value":"#000042","edited":true},"widget-textColor":{"value":"#f0f0ff","edited":true},"widget-backgroundColor":{"value":"#00002f","edited":true},"widget-borderColor":{"value":"#000035","edited":true},"base-font":{"value":"Arial Narrow,Nimbus Sans L,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Pump Controller","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":40,"sy":40,"gx":6,"gy":6,"cx":15,"cy":15,"px":6,"py":6}}},{"id":"6778c034.f170c","type":"ui_group","z":"","name":"Bomba 1","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"143ea6b6.ddf569","type":"ui_group","z":"","name":"Bomba 2","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"186bb339.e26e3d","type":"ui_group","z":"","name":"Offset Setting","tab":"","order":1,"disp":true,"width":"7","collapse":true},{"id":"cf75671.567c318","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"8c7aadcf.d9c0c8","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"public.cer","keyname":"privatekey.pem","caname":"csr.pem","servername":"","verifyservercert":false},{"id":"2be91022.6a8688","type":"mqtt-broker","z":"","name":"IoT-Autom","broker":"IoT-Autom.azure-devices.net","port":"8883","clientid":"nodered","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f8070602.ee2028","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"8475b52b.3a6c88","type":"mqtt-broker","z":"","name":"","broker":"http://controlador-bombas.eastus.cloudapp.azure.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d3f96434.b74288","type":"ui_group","z":"","name":"Pressure","tab":"f8070602.ee2028","order":2,"disp":true,"width":"6","collapse":false},{"id":"8677ec27.39c99","type":"ui_group","z":"","name":"Alerts","tab":"f8070602.ee2028","order":4,"disp":true,"width":"6","collapse":false},{"id":"86f0f7c0.3c2568","type":"ui_group","z":"","name":"Boost Control - CAUTION","tab":"f8070602.ee2028","order":5,"disp":true,"width":"6","collapse":false},{"id":"28cc5a36.da1f26","type":"influxdb","z":"","hostname":"controlador-bombas.eastus.cloudapp.azure.com","port":"8086","protocol":"http","database":"pump_controller","name":"","usetls":false,"tls":"8c7aadcf.d9c0c8"},{"id":"16a571df.4147e6","type":"ui_tab","z":"","name":"Pressure","icon":"fa-database","order":2,"disabled":false,"hidden":false},{"id":"4907654d.92638c","type":"ui_group","z":"","name":"Pump Frequency","tab":"16a571df.4147e6","order":2,"disp":true,"width":"6","collapse":true},{"id":"88b50d63.5fea7","type":"ui_group","z":"","name":"Settings","tab":"f8070602.ee2028","order":3,"disp":true,"width":"6","collapse":false},{"id":"6e2654b6.7eb974","type":"ui_tab","z":"","name":"Wifi","icon":"wifi","order":6,"disabled":false,"hidden":false},{"id":"5eb43b0c.f233cc","type":"ui_group","z":"","name":"AP","tab":"6e2654b6.7eb974","order":1,"disp":false,"width":8,"collapse":false},{"id":"5f099a12.d045cc","type":"ui_group","z":"","name":"Consumption","tab":"16a571df.4147e6","order":4,"disp":true,"width":6,"collapse":false},{"id":"eb1f98d4.80c97","type":"ui_group","z":"","name":"Pressure","tab":"16a571df.4147e6","order":1,"disp":true,"width":6,"collapse":true},{"id":"b45e60da.990578","type":"ui_group","z":"","name":"Specify a period","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"d78677dd.786ca8","type":"ui_group","z":"","name":"Tank","tab":"f8070602.ee2028","order":1,"disp":true,"width":"6","collapse":false},{"id":"ffea68a1.c828d8","type":"ui_tab","z":"","name":"Cycles","icon":"toys","order":3,"disabled":false,"hidden":false},{"id":"d9050cf7.fdfd3","type":"ui_group","z":"","name":"Flow","tab":"ffea68a1.c828d8","order":4,"disp":true,"width":6,"collapse":true},{"id":"333d67f4.4092e8","type":"ui_group","z":"","name":"Select Cycle","tab":"ffea68a1.c828d8","order":1,"disp":true,"width":6,"collapse":true},{"id":"9b1584e9.80d918","type":"mongodb","z":"","hostname":"controlador-bombas.eastus.cloudapp.azure.com","port":"27017","db":"ml","name":""},{"id":"e3beeb92.aca54","type":"ui_group","z":"","name":"Tags","tab":"ffea68a1.c828d8","order":2,"disp":true,"width":5,"collapse":true},{"id":"97af8555.b1e63","type":"ui_group","z":"","name":"Garage","tab":"","order":2,"disp":false,"width":"10"},{"id":"57182739.5b01a8","type":"ui_group","z":"","name":"Link","tab":"b142bfc1.dfe698","disp":true,"width":"6","collapse":false},{"id":"b142bfc1.dfe698","type":"ui_tab","z":"","name":"Devices","icon":"devices","order":5,"disabled":false,"hidden":false},{"id":"43313228.0bf734","type":"ui_group","z":"","name":"Specify a period","tab":"16a571df.4147e6","order":3,"disp":true,"width":6,"collapse":true},{"id":"8cf80c19.4eb5d","type":"ui_tab","z":"","name":"Tank","icon":"fa-bars","order":4,"disabled":false,"hidden":false},{"id":"c185d0e4.08fcc","type":"ui_group","z":"","name":"Tank Level","tab":"8cf80c19.4eb5d","order":1,"disp":true,"width":6,"collapse":false},{"id":"a33552a6.2709e","type":"ui_group","z":"","name":"Specify a period","tab":"8cf80c19.4eb5d","order":2,"disp":true,"width":"6","collapse":false},{"id":"dfce0ef.4f403f","type":"ui_group","z":"","name":"Energy","tab":"ffea68a1.c828d8","order":6,"disp":true,"width":"6","collapse":true},{"id":"f6f99e66.08d73","type":"ui_tab","z":"","d":true,"name":"Discharge Cycle","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"fd0f8518.732488","type":"ui_group","z":"","name":"Specify a period","tab":"f6f99e66.08d73","order":2,"disp":true,"width":"6","collapse":false},{"id":"56bebaa4.208664","type":"ui_group","z":"","name":"Offset","tab":"8cf80c19.4eb5d","order":4,"disp":true,"width":"6","collapse":true},{"id":"dca545c8.9fe078","type":"ui_group","z":"","name":"Settings","tab":"8cf80c19.4eb5d","order":3,"disp":true,"width":"6","collapse":true},{"id":"4e3b7df7.f4a204","type":"ui_tab","z":"","name":"Metrics","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"c686f180.0d953","type":"ui_group","z":"","name":"Alerta Hidrocapital","tab":"4e3b7df7.f4a204","order":1,"disp":true,"width":6,"collapse":false},{"id":"226a379c.d949b8","type":"ui_spacer","name":"spacer","group":"dca545c8.9fe078","order":1,"width":5,"height":1},{"id":"98dabcbc.58506","type":"ui_spacer","name":"spacer","group":"333d67f4.4092e8","order":20,"width":2,"height":1},{"id":"a21da70e.54adb8","type":"ui_spacer","name":"spacer","group":"c686f180.0d953","order":5,"width":2,"height":1},{"id":"a8d3c013.5fa14","type":"mqtt-broker","z":"","name":"","broker":"http://controlador-bombas.eastus.cloudapp.azure.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fd99ae26.d791b","type":"mongodb","z":"","hostname":"controlador-bombas.eastus.cloudapp.azure.com","port":"27017","db":"ml","name":""},{"id":"fd62f529.c746d8","type":"mqtt in","z":"35eff90d.7e3136","name":"","topic":"30AEA4180928/monitor/status","qos":"0","datatype":"json","broker":"8475b52b.3a6c88","x":150,"y":160,"wires":[["4638c8ac.856a8","32feab14.315494","6f07c224.dfae4c"]]},{"id":"5ec7f63e.a31b28","type":"ui_gauge","z":"35eff90d.7e3136","name":"Presión Actual","group":"d3f96434.b74288","order":2,"width":"0","height":"0","gtype":"gage","title":"System Pressure","label":"psi","format":"{{value}}","min":0,"max":"100","colors":["#8000ff","#0000ff","#8000ff"],"seg1":"20","seg2":"70","x":640,"y":40,"wires":[]},{"id":"871be912.3e0508","type":"ui_chart","z":"35eff90d.7e3136","name":"Historico","group":"d3f96434.b74288","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":620,"y":80,"wires":[[]]},{"id":"32feab14.315494","type":"function","z":"35eff90d.7e3136","name":"Parse","func":"var currentPress = {payload:msg.payload.currentPress};\nvar hidrocapitalAlert = {payload:mapAlert(msg.payload.hidrocapitalAlert)};\nvar highPressAlert = {payload:mapAlert(msg.payload.HighPressAlert)};\nvar lowPressAlert = {payload:mapAlert(msg.payload.lowPressAlert)};\nvar totalFailAlert = {payload:mapTotalFailure(msg.payload.totalFailAlert)};\nvar counterPump1Fail = {payload:msg.payload.counterPump1Fail};\nvar counterPump2Fail = {payload:msg.payload.counterPump2Fail};\nvar setpoint = {payload:msg.payload.setpoint};\nvar deadband = {payload:msg.payload.deadband};\nvar timeDelay = {payload:msg.payload.timeDelay};\nvar timeToStart = {payload:msg.payload.timeToStart};\nvar faultResetTime = {payload:msg.payload.faultResetTime};\nvar selector1 = {payload:mapSelector(msg.payload.selector1)};\nvar power1 = {payload:mapPump(msg.payload.power1)};\nvar fs1 = {payload:msg.payload.fs1};\nvar selector2 = {payload:mapSelector(msg.payload.selector2)};\nvar power2 = {payload:mapPump(msg.payload.power2)};\nvar fs2 = {payload:msg.payload.fs2};\n\nreturn [currentPress,hidrocapitalAlert,highPressAlert,\n        lowPressAlert,totalFailAlert,counterPump1Fail,\n        counterPump2Fail, setpoint, deadband,\n        timeDelay, timeToStart, faultResetTime,\n        selector1, power1, fs1, selector2, power2, fs2];\n        \n\nfunction mapAlert(alert) {\n    if(alert){\n        return \"Alert\";\n    }\n    else{\n        return \"\";\n    }\n}\nfunction mapTotalFailure(fault) {\n    if(fault){\n        return \"Total Failure\";\n    }\n    else{\n        return \"\";\n    }\n}\nfunction mapSelector(selector) {\n    switch(selector){\n        case 0: \n            return \"OFF\";\n        case 1:\n            return \"ON\";\n        case 2:\n            return \"REM\";\n        default:\n            return \"\";\n    }\n}\nfunction mapPump(pump) {\n    if(pump){\n        return \"ON\";\n    }\n    else{\n        return \"OFF\";\n    }\n}","outputs":18,"noerr":0,"x":370,"y":160,"wires":[["5ec7f63e.a31b28","871be912.3e0508"],["3078c26b.1c30fe"],["b34d000d.06034"],["f01ba72.f085e58"],["b367ef33.c0d68"],["a3ca3e99.718ec8"],["965384c3.608e5"],["8259c657.a67ba8"],["e5a51e71.4e4fc"],["7319ffce.c2e08"],["d536c990.3818b8"],["4b270ce2.dee60c"],["3ad3d181.e27a86"],["9e76c87.249b238"],[],["74b17bf.83e4c84"],["1b881a32.f176fe"],[]]},{"id":"3078c26b.1c30fe","type":"ui_text","z":"35eff90d.7e3136","group":"8677ec27.39c99","order":1,"width":0,"height":0,"name":"","label":"WaterSource","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":120,"wires":[]},{"id":"b34d000d.06034","type":"ui_text","z":"35eff90d.7e3136","group":"8677ec27.39c99","order":2,"width":0,"height":0,"name":"","label":"High Press","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":160,"wires":[]},{"id":"f01ba72.f085e58","type":"ui_text","z":"35eff90d.7e3136","group":"8677ec27.39c99","order":3,"width":0,"height":0,"name":"","label":"Low Press","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":200,"wires":[]},{"id":"8259c657.a67ba8","type":"ui_text","z":"35eff90d.7e3136","group":"88b50d63.5fea7","order":1,"width":0,"height":0,"name":"","label":"Setpoint","format":"{{msg.payload}} psi","layout":"row-spread","x":820,"y":120,"wires":[]},{"id":"e5a51e71.4e4fc","type":"ui_text","z":"35eff90d.7e3136","group":"88b50d63.5fea7","order":2,"width":0,"height":0,"name":"","label":"Deadband","format":"{{msg.payload}} psi","layout":"row-spread","x":830,"y":160,"wires":[]},{"id":"7319ffce.c2e08","type":"ui_text","z":"35eff90d.7e3136","group":"88b50d63.5fea7","order":3,"width":0,"height":0,"name":"","label":"Time Delay","format":"{{msg.payload}} sec","layout":"row-spread","x":830,"y":200,"wires":[]},{"id":"d536c990.3818b8","type":"ui_text","z":"35eff90d.7e3136","group":"88b50d63.5fea7","order":4,"width":0,"height":0,"name":"","label":"Time To Start","format":"{{msg.payload}} sec","layout":"row-spread","x":830,"y":240,"wires":[]},{"id":"4b270ce2.dee60c","type":"ui_text","z":"35eff90d.7e3136","group":"88b50d63.5fea7","order":5,"width":0,"height":0,"name":"","label":"Fault Reset Time","format":"{{msg.payload}} min","layout":"row-spread","x":1050,"y":40,"wires":[]},{"id":"4638c8ac.856a8","type":"influxdb out","z":"35eff90d.7e3136","influxdb":"28cc5a36.da1f26","name":"status","measurement":"status","precision":"n","retentionPolicy":"","x":370,"y":360,"wires":[]},{"id":"e799d28b.859d2","type":"function","z":"35eff90d.7e3136","name":"Save boost slider time","func":"//Guarda Boost Time Slider\nflow.set('boostTime', msg.payload);","outputs":1,"noerr":0,"x":420,"y":560,"wires":[[]]},{"id":"9f970f85.c51f1","type":"ui_slider","z":"35eff90d.7e3136","name":"","label":"Boost Time","tooltip":"","group":"86f0f7c0.3c2568","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"1","max":"30","step":1,"x":170,"y":560,"wires":[["e799d28b.859d2"]]},{"id":"1451dfb7.829168","type":"ui_button","z":"35eff90d.7e3136","name":"","group":"86f0f7c0.3c2568","order":2,"width":2,"height":1,"passthru":false,"label":"Start Boost","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":620,"wires":[["8033da5a.4a0f4"]]},{"id":"8033da5a.4a0f4","type":"function","z":"35eff90d.7e3136","name":"Mqtt boost msg ","func":"var boostTime = flow.get('boostTime') || 1;\nmsg.payload = boostTime;\nmsg.topic = \"30AEA4180928/control/boost\"\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":620,"wires":[["6fb07dea.34e31c"]]},{"id":"6fb07dea.34e31c","type":"mqtt out","z":"35eff90d.7e3136","name":"MQTT BOOST","topic":"","qos":"","retain":"","broker":"8475b52b.3a6c88","x":620,"y":620,"wires":[]},{"id":"76cae467.94f984","type":"ui_button","z":"35eff90d.7e3136","name":"","group":"86f0f7c0.3c2568","order":4,"width":2,"height":1,"passthru":false,"label":"Stop Boost","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":680,"wires":[["159f1937.69f07f"]]},{"id":"159f1937.69f07f","type":"function","z":"35eff90d.7e3136","name":"Mqtt boost msg ","func":"msg.payload = 0;\nmsg.topic = \"30AEA4180928/control/boost\"\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":680,"wires":[["6fb07dea.34e31c"]]},{"id":"106c8b0f.c35285","type":"mqtt in","z":"35eff90d.7e3136","name":"MQTT boost state","topic":"30AEA4180928/monitor/boost","qos":"2","datatype":"json","broker":"8475b52b.3a6c88","x":190,"y":500,"wires":[["f77a117a.1d589"]]},{"id":"f77a117a.1d589","type":"function","z":"35eff90d.7e3136","name":"parse state","func":"msg.payload = msg.payload.state;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":500,"wires":[["24edd994.ca697e"]]},{"id":"24edd994.ca697e","type":"ui_switch","z":"35eff90d.7e3136","name":"","label":"State","tooltip":"","group":"86f0f7c0.3c2568","order":3,"width":2,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":590,"y":500,"wires":[[]]},{"id":"b367ef33.c0d68","type":"ui_text","z":"35eff90d.7e3136","group":"8677ec27.39c99","order":4,"width":0,"height":0,"name":"Total Failure","label":"","format":"{{msg.payload}}","layout":"col-center","x":630,"y":240,"wires":[]},{"id":"a3ca3e99.718ec8","type":"ui_text","z":"35eff90d.7e3136","group":"d3f96434.b74288","order":8,"width":3,"height":1,"name":"Fail Pump 1","label":"Fails","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":40,"wires":[]},{"id":"965384c3.608e5","type":"ui_text","z":"35eff90d.7e3136","group":"d3f96434.b74288","order":9,"width":3,"height":1,"name":"Fail Pump 2","label":"Fails","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":80,"wires":[]},{"id":"3ad3d181.e27a86","type":"ui_text","z":"35eff90d.7e3136","group":"d3f96434.b74288","order":6,"width":3,"height":1,"name":"","label":"Selector 1","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":80,"wires":[]},{"id":"74b17bf.83e4c84","type":"ui_text","z":"35eff90d.7e3136","group":"d3f96434.b74288","order":7,"width":3,"height":1,"name":"","label":"Selector 2","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":120,"wires":[]},{"id":"9e76c87.249b238","type":"ui_text","z":"35eff90d.7e3136","group":"d3f96434.b74288","order":4,"width":3,"height":1,"name":"Pump 1","label":"Pump 1","format":"{{msg.payload}}","layout":"row-spread","x":1020,"y":160,"wires":[]},{"id":"1b881a32.f176fe","type":"ui_text","z":"35eff90d.7e3136","group":"d3f96434.b74288","order":5,"width":3,"height":1,"name":"Pump 2","label":"Pump 2","format":"{{msg.payload}}","layout":"row-spread","x":1020,"y":200,"wires":[]},{"id":"ed82d264.bc1978","type":"influxdb in","z":"a1390874.1c5c3","influxdb":"28cc5a36.da1f26","name":"Consultar DB","query":"","rawOutput":true,"precision":"ms","retentionPolicy":"","x":640,"y":300,"wires":[["8e0b95ca.11eed8"]]},{"id":"550702a7.5705ec","type":"ui_dropdown","z":"a1390874.1c5c3","name":"","label":"Select period","tooltip":"","place":"","group":"4907654d.92638c","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"Hours","value":"24h","type":"str"},{"label":"Days","value":"7d","type":"str"},{"label":"Weeks","value":"4w","type":"str"},{"label":"Months","value":"365d","type":"str"}],"payload":"","topic":"","x":190,"y":300,"wires":[["ba63f267.849528"]]},{"id":"ba63f267.849528","type":"function","z":"a1390874.1c5c3","name":"Select Periodo","func":"var period = flow.get('period') || \"24h\";\nif(typeof(msg.payload) != \"number\"){\n    period = msg.payload;\n    flow.set('period',period);\n}\n\nmsg.query = \"SELECT * FROM cycles WHERE time > now() - \" + period;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":300,"wires":[["ed82d264.bc1978"]]},{"id":"f3b3e96c.275a28","type":"ui_chart","z":"a1390874.1c5c3","name":"","group":"4907654d.92638c","order":2,"width":0,"height":0,"label":"","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":420,"wires":[[]]},{"id":"e7f15317.32ae08","type":"function","z":"a1390874.1c5c3","name":"mostrar data","func":"var values = msg.payload.data;\nvar time = msg.payload.time;\nvar interval = msg.payload.interval;\nvar numberDiv = msg.payload.numberDiv;\n\n// Variables Auxiliares\nconst monthNames = [\"Jan\", \"Feb\", \"Mar\", \"Apr\", \"May\", \"Jun\",\n  \"Jul\", \"Augt\", \"Sep\", \"Oct\", \"Nov\", \"Dec\"];\nvar top;\nvar bottom;\nvar counter;\nvar cycleID;\nvar timestamp;\n\nvar aux = [];\nvar data = [];\nvar labels = [];\n\nfor(var period = numberDiv - 1; period >= 0; period--){\n    bottom = time - period*interval; //limite inferior\n    top = time + (-period + 1)*interval; //limite superior\n    counter = 0;\n    cycleID = \"\";\n    \n    for(var i=0; i < values.length ; i++){\n        timestamp = values[i][0];\n        if(timestamp >= bottom && timestamp < top){\n            if(cycleID != values[i][2]){\n                counter++;\n                cycleID = values[i][2];\n            }\n        }\n    }\n    \n    aux.push(counter);\n    bottom = new Date(bottom);\n    switch(numberDiv){\n        case 24:\n            var hours = Math.abs(bottom.getHours() - 4);\n            var midday = \"am\";\n            if (hours > 12){\n                hours -= 12;\n                midday = \"pm\";\n            }else if (hours === 0){\n                hours = 12;\n            }\n            labels.push(hours + \":00\" + midday);\n            break;\n        case 7:\n            labels.push(bottom.getDate() + \"/\" + monthNames[bottom.getMonth()]);\n            break;\n        case 4:\n            labels.push((bottom.getDate()+1) + \"/\" + monthNames[bottom.getMonth()]);\n            break;\n        case 12:\n            labels.push(monthNames[(bottom.getMonth()+1)%12]);\n            break;\n        default:\n            break;\n    }\n}\ndata.push(aux);\n\nmsg.payload = [{series:[\"A\"],data,labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":420,"wires":[["f3b3e96c.275a28"]]},{"id":"2b5f689d.894f9","type":"function","z":"a1390874.1c5c3","name":"Dividir data","func":"var period = flow.get('period') || \"24h\";\nvar data = msg.payload;\nvar time = new Date().getTime(); //time in millis\nvar interval;\nvar numberDiv;\n\nswitch(period){\n    case \"24h\":\n        interval = 3600000; //hour In Milis\n        numberDiv = 24;\n        break;\n    case \"7d\":\n        interval = 86400000; //day In Milis\n        numberDiv = 7;\n        break;\n    case \"4w\":\n        interval = 604800000; //week In Milis\n        numberDiv = 4;\n        break;\n    case \"365d\":\n        interval = 2628000000; //month In Milis\n        numberDiv = 12; //12 Meses\n        break;\n    default:\n        interval = null;\n        numberDiv = 0;\n        break;\n}\n\ntime = Math.floor(time/interval)*interval; //exact time \n\nmsg.payload = {data, time, interval, numberDiv};\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":360,"wires":[["e7f15317.32ae08"]]},{"id":"8e0b95ca.11eed8","type":"function","z":"a1390874.1c5c3","name":"Verificar data","func":"if(Object.keys(msg.payload.results[0]).length > 1){\n    msg.payload = msg.payload.results[0].series[0].values;\n}\nelse{\n    msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":360,"wires":[["2b5f689d.894f9"]]},{"id":"611d9841.d67cd8","type":"influxdb in","z":"a1390874.1c5c3","influxdb":"28cc5a36.da1f26","name":"Consultar DB","query":"","rawOutput":true,"precision":"ms","retentionPolicy":"","x":610,"y":140,"wires":[["68d99728.e0993"]]},{"id":"d6044a49.164458","type":"ui_dropdown","z":"a1390874.1c5c3","name":"","label":"Select period","tooltip":"","place":"","group":"eb1f98d4.80c97","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"Last 15 Min","value":"15m","type":"str"},{"label":"Last 30 Min","value":"30m","type":"str"},{"label":"Last 1 Hour","value":"1h","type":"str"},{"label":"Last 2 Hours","value":"2h","type":"str"},{"label":"Last 4 Hours","value":"4h","type":"str"},{"label":"Last 12 Hours","value":"12h","type":"str"},{"label":"Last 24 Hours","value":"24h","type":"str"},{"label":"Last week","value":"1w","type":"str"},{"label":"Last Month","value":"30d","type":"str"},{"label":"Specify Period","value":"specify","type":"str"}],"payload":"","topic":"","x":190,"y":140,"wires":[["15439676.153e6a","75050638.f5dab8"]]},{"id":"15439676.153e6a","type":"function","z":"a1390874.1c5c3","name":"Select Periodo","func":"var periodPress = flow.get('periodPress') || \"30m\";\n\nif(typeof(msg.payload) == \"string\"){\n    periodPress = msg.payload;\n    flow.set('periodPress',periodPress);\n}\n\nif (periodPress == \"specify\"){\n    var StartDate = flow.get('StartDate') || \"now()\";\n    var EndDate = flow.get('EndDate') || \"now()\";\n    msg.query = \"SELECT currentPress FROM status WHERE time > \" + StartDate + \" and time < \" + EndDate;\n}\nelse{\n    msg.query = \"SELECT currentPress FROM status WHERE time > now() - \" + periodPress;\n}\n\nmsg.payload = msg.query\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":140,"wires":[["611d9841.d67cd8"]]},{"id":"12c66ef4.76c659","type":"ui_chart","z":"a1390874.1c5c3","name":"","group":"eb1f98d4.80c97","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":200,"wires":[[]]},{"id":"68d99728.e0993","type":"function","z":"a1390874.1c5c3","name":"Verificar data","func":"if(Object.keys(msg.payload.results[0]).length > 1){\n    msg.payload = msg.payload.results[0].series[0].values;\n}\nelse{\n    msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["39caab77.be8c9c"]]},{"id":"39caab77.be8c9c","type":"function","z":"a1390874.1c5c3","name":"Obtener datos","func":"if (msg.payload != null){\n    var values = msg.payload\n\n    var data = [];\n    var aux = [];\n    for( var i = 0; i < values.length ; i++){\n        aux.push({x:values[i][0], y:values[i][1]});\n    }\n    data.push(aux);\n    \n    msg.payload = [{series:[\"Press\"],data,labels:[values[0][2]]}];\n    \n    \n    return msg;\n}\n","outputs":1,"noerr":0,"x":620,"y":200,"wires":[["12c66ef4.76c659"]]},{"id":"932a6c2d.36ad2","type":"ui_form","z":"a1390874.1c5c3","name":"","label":"yyyy-mm-dd hh:mm:ss","group":"43313228.0bf734","order":1,"width":0,"height":0,"options":[{"label":"Start Date","value":"StartDate","type":"text","required":true,"rows":null},{"label":"End Date","value":"EndDate","type":"text","required":true,"rows":null}],"formValue":{"StartDate":"","EndDate":""},"payload":"","submit":"Send","cancel":"","topic":"","x":420,"y":80,"wires":[["81eed50c.12bbf8"]]},{"id":"52bb593e.783b08","type":"ui_ui_control","z":"a1390874.1c5c3","name":"","events":"all","x":640,"y":40,"wires":[[]]},{"id":"75050638.f5dab8","type":"function","z":"a1390874.1c5c3","name":"show/hide specify period","func":"if(msg.payload == \"specify\"){\n    msg.payload = {\"group\": {\"show\": [\"Pressure_Specify_a_period\"]}};\n}\nelse{\n    msg.payload = {\"group\": {\"hide\": [\"Pressure_Specify_a_period\"]}};\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":40,"wires":[["52bb593e.783b08"]]},{"id":"81eed50c.12bbf8","type":"function","z":"a1390874.1c5c3","name":"Save period","func":"var StartDate = msg.payload.StartDate;\nvar EndDate = msg.payload.EndDate;\n\nif (StartDate.startsWith(\"20\")){\n    StartDate = \"'\" + StartDate + \"'\";\n}\nif (EndDate.startsWith(\"20\")){\n    EndDate = \"'\" + EndDate + \"'\";\n}\n\nflow.set('StartDate', StartDate);\nflow.set('EndDate', EndDate);\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":80,"wires":[["15439676.153e6a"]]},{"id":"9c9818da.b77708","type":"http in","z":"ac9ad243.390d","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":300,"y":80,"wires":[["835e1842.d17908"]]},{"id":"835e1842.d17908","type":"template","z":"ac9ad243.390d","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>","x":510,"y":80,"wires":[["4fa576a1.774e78","4aa5170d.7199e8"]]},{"id":"4fa576a1.774e78","type":"http response","z":"ac9ad243.390d","name":"response","statusCode":"200","headers":{"content-type":"application/xml"},"x":720,"y":80,"wires":[]},{"id":"4aa5170d.7199e8","type":"debug","z":"ac9ad243.390d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":20,"wires":[]},{"id":"79f6ae2c.db97f","type":"template","z":"ac9ad243.390d","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.query.name}}!</h1>\n    </body>\n</html>","x":510,"y":140,"wires":[["55bee72c.c52a78"]]},{"id":"ba455c45.10b9d","type":"http in","z":"ac9ad243.390d","name":"","url":"/hello-query","method":"get","swaggerDoc":"","x":320,"y":140,"wires":[["79f6ae2c.db97f"]]},{"id":"55bee72c.c52a78","type":"http response","z":"ac9ad243.390d","name":"","statusCode":"","headers":{},"x":710,"y":140,"wires":[]},{"id":"564f5263.85e41c","type":"http in","z":"ac9ad243.390d","name":"","url":"hello-param/:name","method":"get","upload":false,"swaggerDoc":"","x":350,"y":200,"wires":[["9e5b39c0.30b6b8"]]},{"id":"9e5b39c0.30b6b8","type":"template","z":"ac9ad243.390d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.params.name}}!</h1>\n    </body>\n</html>","output":"str","x":520,"y":260,"wires":[["1bd205a8.70429a"]]},{"id":"1bd205a8.70429a","type":"http response","z":"ac9ad243.390d","name":"","statusCode":"200","headers":{},"x":720,"y":200,"wires":[]},{"id":"b9589534.624ac8","type":"http in","z":"ac9ad243.390d","name":"","url":"/hello-headers","method":"get","upload":false,"swaggerDoc":"","x":330,"y":320,"wires":[["7e6750a3.56776"]]},{"id":"7e6750a3.56776","type":"template","z":"ac9ad243.390d","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>User agent: {{req.headers.user}}</h1>\n    </body>\n</html>","x":510,"y":320,"wires":[["6155f74d.734cb8"]]},{"id":"6155f74d.734cb8","type":"http response","z":"ac9ad243.390d","name":"","x":650,"y":320,"wires":[]},{"id":"63404292.4c0ecc","type":"inject","z":"ac9ad243.390d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":360,"wires":[["13e193a.b59216c"]]},{"id":"13e193a.b59216c","type":"change","z":"ac9ad243.390d","name":"Store time","rules":[{"t":"set","p":"timestamp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":360,"wires":[[]]},{"id":"9c7e43fc.63d49","type":"http in","z":"ac9ad243.390d","name":"","url":"/hello-data","method":"get","upload":false,"swaggerDoc":"","x":320,"y":420,"wires":[["6c920de4.37a134"]]},{"id":"6c920de4.37a134","type":"change","z":"ac9ad243.390d","name":"Copy time","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"timestamp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":420,"wires":[["21d2dba3.5c08c4"]]},{"id":"21d2dba3.5c08c4","type":"template","z":"ac9ad243.390d","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Time: {{ timestamp }}</h1>\n    </body>\n</html>","x":680,"y":420,"wires":[["81d86599.af5278"]]},{"id":"81d86599.af5278","type":"http response","z":"ac9ad243.390d","name":"","statusCode":"","headers":{},"x":820,"y":420,"wires":[]},{"id":"519df52c.9ba8dc","type":"http in","z":"ac9ad243.390d","name":"","url":"/hello-json","method":"get","upload":false,"swaggerDoc":"","x":320,"y":540,"wires":[["1368bb5f.03bbc5"]]},{"id":"1368bb5f.03bbc5","type":"template","z":"ac9ad243.390d","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"Hello\": \"World\" }","x":490,"y":540,"wires":[["97d60baa.aef338"]]},{"id":"97d60baa.aef338","type":"change","z":"ac9ad243.390d","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":540,"wires":[["d2da66ac.f64dd8"]]},{"id":"d2da66ac.f64dd8","type":"http response","z":"ac9ad243.390d","name":"","statusCode":"","headers":{},"x":810,"y":540,"wires":[]},{"id":"86a1c685.d54b7","type":"mqtt in","z":"35eff90d.7e3136","name":"","topic":"382B7804077E/level/monitor/status","qos":"0","datatype":"json","broker":"8475b52b.3a6c88","x":240,"y":1300,"wires":[["c3272b8c.24ba48"]]},{"id":"c3272b8c.24ba48","type":"function","z":"35eff90d.7e3136","name":"Parse","func":"var level = {payload:msg.payload.level};\nvar level_percent = {payload:msg.payload.level_percent};\nvar liters = {payload:msg.payload.liters};\n\nvar rawData = {payload:{level:msg.payload.level, level_percent:msg.payload.level_percent, liters:msg.payload.liters}};\n\nreturn [rawData, level_percent]","outputs":2,"noerr":0,"x":470,"y":1300,"wires":[["4588e934.c3a738","d9cfeafb.d3dac8","37ce5229.b2beee","d49054cf.76b698"],["35387402.b2bec4"]]},{"id":"96f87863.03405","type":"ui_text","z":"35eff90d.7e3136","group":"d78677dd.786ca8","order":3,"width":0,"height":0,"name":"Litros","label":"","format":"{{msg.payload.volume}} L","layout":"col-center","x":1490,"y":1180,"wires":[]},{"id":"e4b6fe88.4cbd4","type":"http in","z":"ac9ad243.390d","name":"","url":"/postWithHeaders","method":"post","upload":false,"swaggerDoc":"","x":340,"y":640,"wires":[["c7b7e2b1.9f6fb","8628be24.81069"]]},{"id":"c7b7e2b1.9f6fb","type":"http response","z":"ac9ad243.390d","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":590,"y":640,"wires":[]},{"id":"8628be24.81069","type":"debug","z":"ac9ad243.390d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":680,"wires":[]},{"id":"ad0138d2.052608","type":"http in","z":"ac9ad243.390d","name":"","url":"/hello-raw","method":"get","upload":false,"swaggerDoc":"","x":340,"y":800,"wires":[["995b1965.833118"]]},{"id":"995b1965.833118","type":"template","z":"ac9ad243.390d","name":"page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<button href=\"www.google.com\">Google</button>","output":"str","x":510,"y":800,"wires":[["5e3be2d5.6576ec","d4dcbd38.6797a"]]},{"id":"5e3be2d5.6576ec","type":"http response","z":"ac9ad243.390d","name":"","statusCode":"","headers":{},"x":650,"y":800,"wires":[]},{"id":"d4dcbd38.6797a","type":"debug","z":"ac9ad243.390d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":900,"wires":[]},{"id":"fd48a458.9cabc","type":"ui_text","z":"35eff90d.7e3136","group":"d78677dd.786ca8","order":5,"width":0,"height":0,"name":"Alerta","label":"","format":"{{msg.payload}}","layout":"col-center","x":810,"y":1380,"wires":[]},{"id":"35387402.b2bec4","type":"function","z":"35eff90d.7e3136","name":"Verifica alerta","func":"if(msg.payload > 100){\n    msg.payload = \"OVERFLOW!\";\n}\nelse{\n    msg.payload = \"\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":1380,"wires":[["fd48a458.9cabc"]]},{"id":"4588e934.c3a738","type":"function","z":"35eff90d.7e3136","name":"filtro kalman","func":"var R = 1;\nvar Q = 0.03;\n\nvar Xt = context.get('Xt_1') || msg.payload.liters;\n\n\nvar Pt = (context.get('Pt_1') || 1) + Q;\nvar Kg = Pt/(Pt + R);\n\nmsg.payload = Xt + Kg*(msg.payload.liters - Xt);\nPt = (1 - Kg)*Pt;\n\ncontext.set('Xt_1', msg.payload);\ncontext.set('Pt_1', Pt);\n\nmsg.payload = {liters:msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1260,"wires":[["e1e348c9.21b138"]]},{"id":"afe1955c.9c7bf","type":"function","z":"35eff90d.7e3136","name":"Preparar data","func":"var level = Math.round(msg.payload.level); \nvar levelPercent = Math.round(msg.payload.level_percent*10)/10;\nvar volume = Math.round(msg.payload.liters*10)/10;\n\nglobal.set('tankLevel', levelPercent);\n\nmsg.payload = {level,levelPercent,volume};\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":1180,"wires":[["40557581.9338b4","96f87863.03405","59deaffe.7dd628"]]},{"id":"40557581.9338b4","type":"influxdb out","z":"35eff90d.7e3136","influxdb":"28cc5a36.da1f26","name":"tank","measurement":"tank","precision":"","retentionPolicy":"","x":1490,"y":1140,"wires":[]},{"id":"378c23ba.ffbebc","type":"delay","z":"35eff90d.7e3136","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1070,"y":1180,"wires":[["afe1955c.9c7bf"]]},{"id":"38d55d69.13b332","type":"mqtt in","z":"556b50d.3e71e3","name":"","topic":"30AEA4180928/monitor/cycle","qos":"0","datatype":"json","broker":"8475b52b.3a6c88","x":120,"y":60,"wires":[["d5ac3dfc.c4947"]]},{"id":"aa913c5b.d84c38","type":"ui_chart","z":"556b50d.3e71e3","name":"FlowChart","group":"d9050cf7.fdfd3","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1190,"y":520,"wires":[[]]},{"id":"a73c20fe.26c288","type":"function","z":"556b50d.3e71e3","name":"Flow","func":"if(msg.payload !== null){\n    var values = msg.payload;var press;\n    var time;\n    var flow;\n    \n    var data = [];\n    var aux = [];\n    \n    var pressAnt = 0;\n    var acumulate = 0;\n    var counter = 1;\n    aux.push({x:values[0][0], y:0});\n    for( var i = 3; i < values.length ; i++){\n        time = values[i][0];\n        press = values[i][1];\n        \n        if(press > pressAnt){\n            pressAnt = press;\n            flow = pump_curve(press);\n            acumulate += counter*0.250*flow/60;\n            aux.push({x:time, y:flow});\n            counter = 1;\n        }\n        else{\n            counter++;\n        }\n    }\n    data.push(aux);\n    \n    \n    \n    var chart = {payload:[{series:[\"Flow (L/min)\"], data, labels:[\"1\"]}]};\n    acumulate = {payload:acumulate.toFixed(2)};\n    return [chart, acumulate];\n}\n\nfunction pump_curve(press){\n    var eq = -0.0088*Math.pow(press,3) + 1.447*Math.pow(press,2) - 82.004*press + 1744.5\n    if(eq > 0){\n        return eq;\n    }\n    else{\n        return 0;\n    }\n    \n}","outputs":2,"noerr":0,"x":1010,"y":540,"wires":[["aa913c5b.d84c38"],["2fa91817.93eb8"]]},{"id":"c090f54a.a100e","type":"function","z":"556b50d.3e71e3","name":"Obtener datos","func":"var cycle_data = msg.payload.cycle_data;\nvar frecuency = 250;\nvar id = msg.payload.id;\nvar pump = msg.payload.pump;\n\nvar totalTime = cycle_data.length*frecuency;\n\nvar startTime = (new Date().getTime()) - totalTime;\n\n\nvar measurement = \"cycles\"\n\nvar arreglo = [];\n\nfor( var i = 0; i < cycle_data.length ; i++){\n    arreglo.push({measurement, fields:{data:cycle_data[i][0],fs:cycle_data[i][1]}, tags:{id, pump}, timestamp:(startTime + i*frecuency)});\n}\n\nmsg.payload = arreglo;\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":60,"wires":[["9d26037f.636828"]]},{"id":"9d26037f.636828","type":"influxdb batch","z":"556b50d.3e71e3","influxdb":"28cc5a36.da1f26","precision":"ms","retentionPolicy":"","name":"cycles","x":690,"y":60,"wires":[]},{"id":"efa0816b.db4848","type":"ui_dropdown","z":"556b50d.3e71e3","name":"","label":"","tooltip":"","place":"","group":"333d67f4.4092e8","order":1,"width":6,"height":1,"passthru":true,"options":[],"payload":"","topic":"","x":640,"y":320,"wires":[["5b50d948.bec91","3f9d6da8.093862"]]},{"id":"b0562ef.eabe1d","type":"function","z":"556b50d.3e71e3","name":"listar los ciclos","func":"const locale = \"en-GB\";\nconst opt ={timeZone:'America/Caracas', month: 'short', day: '2-digit', hour: '2-digit', minute: '2-digit' };\n\nvar aux = {};\nvar options = [];\nvar id;\nvar timestamp;\n\nfor(var i = msg.payload.length - 1; i > -1; i--){\n    id = msg.payload[i]._id;\n    timestamp = id.split('-');\n    timestamp = new Date(parseInt(timestamp[1])*1000).toLocaleDateString(locale,opt);\n    aux[timestamp] = id;\n    options.push(aux);\n    aux = {};\n}\n\nmsg.payload = \"\";\nmsg.options = options;\n\nflow.set('cycle_list', options);\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":260,"wires":[["efa0816b.db4848"]]},{"id":"30880c0f.385924","type":"influxdb in","z":"556b50d.3e71e3","influxdb":"28cc5a36.da1f26","name":"Consultar DB","query":"","rawOutput":true,"precision":"ms","retentionPolicy":"","x":660,"y":540,"wires":[["99f34141.905218"]]},{"id":"5b50d948.bec91","type":"function","z":"556b50d.3e71e3","name":"Select Periodo","func":"msg.query = \"SELECT * FROM cycles WHERE \\\"id\\\"='\" + msg.payload + \"'\";\nflow.set('cycleID', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":540,"wires":[["30880c0f.385924","32bc4aa2.a01c16"]]},{"id":"2fa91817.93eb8","type":"ui_text","z":"556b50d.3e71e3","group":"d9050cf7.fdfd3","order":2,"width":0,"height":0,"name":"","label":"Approx. Volume: ","format":"{{msg.payload}} L","layout":"row-spread","x":1200,"y":560,"wires":[]},{"id":"73fadcc9.6e2384","type":"function","z":"556b50d.3e71e3","name":"Potencia","func":"if(msg.payload != null){\n    var values = msg.payload;var press;\n    var time;\n    \n    var pressAnter = 0;\n    \n    var data = [];\n    var aux = [];\n    var potencia\n    \n    for( var i = 0; i < values.length ; i++){\n        time = values[i][0];\n        press = values[i][1];\n        if (pressAnter < press){\n            pressAnter = press;\n            potencia = calculoPotencia(press);  \n        }\n        \n        \n        aux.push({x:time, y:potencia});\n    }\n    data.push(aux);\n    \n    msg.payload = [{series:[\"Power (W)\"],data,labels:[\"1\"]}];\n    \n    \n    return msg;\n}\n// Curva Caracteristica de la bomba\nfunction calculoPotencia(press){\n    var eq = (((-0.0088*Math.pow(press,3) + 1.447*Math.pow(press,2) - 82.004*press + 1744.5)*((press/1.422)*9.81))/(36*0.75));\n    if(eq > 0){\n        return eq;\n    }\n    else{\n        return 0;\n    }\n    \n}","outputs":1,"noerr":0,"x":1020,"y":620,"wires":[["50867ddf.df5c84"]]},{"id":"50867ddf.df5c84","type":"ui_chart","z":"556b50d.3e71e3","name":"PowerChart","group":"dfce0ef.4f403f","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1190,"y":620,"wires":[[]]},{"id":"94b5b94a.33254","type":"ui_chart","z":"556b50d.3e71e3","name":"PressChart","group":"333d67f4.4092e8","order":9,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1190,"y":460,"wires":[[]]},{"id":"9050e51c.0cf8d8","type":"function","z":"556b50d.3e71e3","name":"Pressure","func":"if(msg.payload !== null){\n    var values = msg.payload;\n    var press;\n    var time;\n    \n    var data = [];\n    var aux = [];\n    \n    for( var i = 0; i < values.length ; i++){\n        time = values[i][0];\n        press = values[i][1];\n        aux.push({x:time, y:press});\n    }\n    data.push(aux);\n    \n    msg.payload =[{series:[\"Press (psi)\"], data,labels:[\"1\"]}];\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":1020,"y":460,"wires":[["94b5b94a.33254"]]},{"id":"ccc0c25d.4c12c","type":"function","z":"85511010.76ceb","name":"Select Periodo","func":"msg.query = \"SELECT hidrocapitalAlert FROM status GROUP BY time(1m)\";\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":120,"wires":[["aa6e6a23.cf24b"]]},{"id":"aa6e6a23.cf24b","type":"influxdb in","z":"85511010.76ceb","influxdb":"28cc5a36.da1f26","name":"Consultar DB","query":"","rawOutput":true,"precision":"ms","retentionPolicy":"","x":640,"y":120,"wires":[["7d837404.15357c"]]},{"id":"a21f0a52.f5db","type":"inject","z":"85511010.76ceb","name":"Cada min","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":120,"wires":[["ccc0c25d.4c12c"]]},{"id":"7d837404.15357c","type":"debug","z":"85511010.76ceb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":120,"wires":[]},{"id":"32bc4aa2.a01c16","type":"function","z":"556b50d.3e71e3","name":"query tags","func":"var cycleID = flow.get('cycleID') || 0;\n\nmsg.payload = {_id:cycleID};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":640,"wires":[["52d07727.0ae77"]]},{"id":"52d07727.0ae77","type":"mongodb in","z":"556b50d.3e71e3","mongodb":"9b1584e9.80d918","name":"mongodb tags","collection":"tags","operation":"find","x":680,"y":640,"wires":[["d88d5645.f1301"]]},{"id":"d88d5645.f1301","type":"function","z":"556b50d.3e71e3","name":"parse tag","func":"if(msg.payload.length > 0){\n    var tags = msg.payload[0].payload.tags;\n    var keys = Object.keys(tags)\n    var str = \"\";\n    for(var i=0; i<keys.length ; i++){\n        if(tags[keys[i]]){\n            str += \"#\" + keys[i] + \" \";\n        }\n    }\n    msg.payload = str;\n}\nelse{\n    msg.payload = \"\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":700,"wires":[["ddf1533.755cdb"]]},{"id":"ddf1533.755cdb","type":"ui_text","z":"556b50d.3e71e3","group":"e3beeb92.aca54","order":1,"width":0,"height":0,"name":"","label":"Current Tags: ","format":"{{msg.payload}}","layout":"row-left","x":640,"y":700,"wires":[]},{"id":"75e05cf5.1e23e4","type":"ui_form","z":"556b50d.3e71e3","name":"","label":"","group":"e3beeb92.aca54","order":2,"width":0,"height":0,"options":[{"label":"normal","value":"normal","type":"checkbox","required":false,"rows":null},{"label":"highConsumption","value":"highConsumption","type":"checkbox","required":false,"rows":null},{"label":"shortPumpCycle","value":"shortPumpCycle","type":"checkbox","required":false,"rows":null},{"label":"flowRestriction","value":"flowRestriction","type":"checkbox","required":false,"rows":null},{"label":"cavitation","value":"cavitation","type":"checkbox","required":false,"rows":null},{"label":"noFlow","value":"noFlow","type":"checkbox","required":false,"rows":null},{"label":"missingDataPoints","value":"missingDatatPoints","type":"checkbox","required":false,"rows":null},{"label":"abnormalReadings","value":"abnormalReadings","type":"checkbox","required":false,"rows":null},{"label":"pumpFail","value":"pumpFail","type":"checkbox","required":false,"rows":null},{"label":"overPressure","value":"overPressure","type":"checkbox","required":false,"rows":null},{"label":"lowPressure","value":"lowPressure","type":"checkbox","required":false,"rows":null},{"label":"lowTankLevel","value":"lowTankLevel","type":"checkbox","required":false,"rows":null},{"label":"lowPrecharge","value":"lowPrecharge","type":"checkbox","required":false,"rows":null},{"label":"firmwareFail","value":"firmwareFail","type":"checkbox","required":false,"rows":null}],"formValue":{"normal":false,"highConsumption":false,"shortPumpCycle":false,"flowRestriction":false,"cavitation":false,"noFlow":false,"missingDatatPoints":false,"abnormalReadings":false,"pumpFail":false,"overPressure":false,"lowPressure":false,"lowTankLevel":false,"lowPrecharge":false,"firmwareFail":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":640,"wires":[["29c3a1cd.2b43de"]]},{"id":"29c3a1cd.2b43de","type":"function","z":"556b50d.3e71e3","name":"query influx","func":"var cycleID = flow.get('cycleID') || 0;\nmsg.payload = {id:cycleID, tags:msg.payload};\nmsg._id = cycleID;\nreturn msg;\n","outputs":1,"noerr":0,"x":230,"y":640,"wires":[["32bc4aa2.a01c16","624bb278.e0f50c"]]},{"id":"624bb278.e0f50c","type":"mongodb out","z":"556b50d.3e71e3","mongodb":"9b1584e9.80d918","name":"save tags","collection":"tags","payonly":false,"upsert":true,"multi":false,"operation":"store","x":220,"y":700,"wires":[]},{"id":"794bffe.672c4","type":"ui_template","z":"35eff90d.7e3136","group":"d3f96434.b74288","name":"Logo","order":10,"width":0,"height":0,"format":"<script id=\"titleScript\" type=\"text/javascript\">\n    $('#logo').remove();\n    var toolbar = $('.md-toolbar-tools');\n    var div = $('<div/>');\n    var img  = $('<img id=logo src=\"https://img1.wsimg.com/isteam/ip/3283b1ad-b350-490e-a7f9-30c6369af235/logo/ad040d1d-6bf7-41bb-8154-c8d059e375a0.png/:/rs=h:50/qt=q:30\"></img>');\n    \n    $('#titleScript').parent().hide();\n    div.append(img);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":90,"y":40,"wires":[[]]},{"id":"b7dd6c74.22762","type":"ui_button","z":"556b50d.3e71e3","name":"","group":"333d67f4.4092e8","order":4,"width":2,"height":1,"passthru":false,"label":"Earlier","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":340,"wires":[["911e2c9c.608858"]]},{"id":"f08d759.37ba408","type":"ui_button","z":"556b50d.3e71e3","name":"","group":"333d67f4.4092e8","order":2,"width":2,"height":1,"passthru":false,"label":"Later","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":300,"wires":[["18392bd4.2991d4"]]},{"id":"18392bd4.2991d4","type":"function","z":"556b50d.3e71e3","name":"retroceder","func":"var cycle_list  = flow.get('cycle_list') || 0;\nvar cycleID = flow.get('cycleID') || 0;\n\nvar item;\nvar index = -1;\nfor(var i = 0; i < cycle_list.length; i++){\n    item = cycle_list[i];\n    \n    if(Object.values(item) == cycleID){\n        index = i;\n        i = cycle_list.length;\n    }\n}\nvar select = Object.values(cycle_list[index - 1]);\nmsg.payload = select[0];\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["efa0816b.db4848"]]},{"id":"911e2c9c.608858","type":"function","z":"556b50d.3e71e3","name":"avanzar","func":"var cycle_list  = flow.get('cycle_list') || 0;\nvar cycleID = flow.get('cycleID') || 0;\n\nvar item;\nvar index = -1;\nfor(var i = 0; i < cycle_list.length; i++){\n    item = cycle_list[i];\n    \n    if(Object.values(item) == cycleID){\n        index = i;\n        i = cycle_list.length;\n    }\n}\nvar select = Object.values(cycle_list[index + 1]);\n\nif(select.length > 0 ){\n    msg.payload = select[0];\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"x":300,"y":340,"wires":[["efa0816b.db4848"]]},{"id":"6dfa1581.0ad84c","type":"ui_text","z":"556b50d.3e71e3","group":"333d67f4.4092e8","order":8,"width":6,"height":1,"name":"","label":"Title: ","format":"{{msg.payload[0]._id}}","layout":"row-center","x":1330,"y":160,"wires":[]},{"id":"99f34141.905218","type":"function","z":"556b50d.3e71e3","name":"Verificar data","func":"if(Object.keys(msg.payload.results[0]).length > 1){\n    msg.payload = msg.payload.results[0].series[0].values;\n}\nelse{\n    msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":540,"wires":[["9050e51c.0cf8d8","a73c20fe.26c288","73fadcc9.6e2384","efee58bc.e6b7a8","e49b01fd.ffdcc"]]},{"id":"6f07c224.dfae4c","type":"function","z":"35eff90d.7e3136","name":"Save status in flow","func":"global.set('status',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":320,"wires":[[]]},{"id":"fb730284.1fee18","type":"ui_text","z":"151202e2.a49d4d","group":"57182739.5b01a8","order":1,"width":"4","height":"1","name":"","label":"Controller","format":"{{msg.payload.link}}","layout":"row-spread","x":800,"y":280,"wires":[]},{"id":"1f576be5.ea4ebc","type":"influxdb in","z":"151202e2.a49d4d","influxdb":"28cc5a36.da1f26","name":"Consultar DB","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":450,"y":300,"wires":[["e09c10b1.d6f4d8"]]},{"id":"c06d422.65e1f4","type":"function","z":"151202e2.a49d4d","name":"Query link","func":"msg.query = \"SELECT link FROM controllerDevice GROUP BY * ORDER BY DESC LIMIT 1;\"\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":300,"wires":[["1f576be5.ea4ebc"]]},{"id":"19ecd07a.050328","type":"mqtt in","z":"151202e2.a49d4d","name":"","topic":"382B7804077E/level/monitor/link","qos":"0","datatype":"utf8","broker":"8475b52b.3a6c88","x":250,"y":120,"wires":[["3ab2467d.3f30ca"]]},{"id":"42813e78.c92428","type":"influxdb out","z":"151202e2.a49d4d","influxdb":"28cc5a36.da1f26","name":"tankDevice","measurement":"tankDevice","precision":"","retentionPolicy":"","x":670,"y":120,"wires":[]},{"id":"661c15b2.4c2c84","type":"mqtt in","z":"151202e2.a49d4d","name":"","topic":"30AEA4180928/monitor/link","qos":"0","datatype":"utf8","broker":"8475b52b.3a6c88","x":240,"y":80,"wires":[["a1a95634.84b098"]]},{"id":"e7ab3837.d15608","type":"influxdb out","z":"151202e2.a49d4d","influxdb":"28cc5a36.da1f26","name":"controllerDevice","measurement":"controllerDevice","precision":"","retentionPolicy":"","x":680,"y":80,"wires":[]},{"id":"fcadfeb4.77322","type":"inject","z":"151202e2.a49d4d","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":300,"wires":[["c06d422.65e1f4","a523f503.05d6a"]]},{"id":"3ab2467d.3f30ca","type":"function","z":"151202e2.a49d4d","name":"parse","func":"msg.payload = {link:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":120,"wires":[["42813e78.c92428","67471c84.ecc9fc","9700c835.a3d55"]]},{"id":"a1a95634.84b098","type":"function","z":"151202e2.a49d4d","name":"parse","func":"msg.payload = {link:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":80,"wires":[["e7ab3837.d15608","cbd224fd.98d358","fb730284.1fee18"]]},{"id":"c3efe50f.a5ae4","type":"influxdb in","z":"151202e2.a49d4d","influxdb":"28cc5a36.da1f26","name":"Consultar DB","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":450,"y":340,"wires":[["14a9f182.cacf5e"]]},{"id":"a523f503.05d6a","type":"function","z":"151202e2.a49d4d","name":"Query link","func":"msg.query = \"SELECT link FROM tankDevice GROUP BY * ORDER BY DESC LIMIT 1;\"\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":340,"wires":[["c3efe50f.a5ae4"]]},{"id":"67471c84.ecc9fc","type":"ui_text","z":"151202e2.a49d4d","group":"57182739.5b01a8","order":3,"width":"4","height":"1","name":"","label":"Level Sensor","format":"{{msg.payload.link}}","layout":"row-spread","x":810,"y":320,"wires":[]},{"id":"62d29c51.305a64","type":"mongodb out","z":"556b50d.3e71e3","mongodb":"9b1584e9.80d918","name":"save cycles","collection":"cycles","payonly":false,"upsert":true,"multi":false,"operation":"store","x":990,"y":100,"wires":[]},{"id":"3f1142db.209ca6","type":"ui_chart","z":"35eff90d.7e3136","name":"Historico","group":"d78677dd.786ca8","order":4,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":920,"y":1520,"wires":[[]]},{"id":"836381f1.96f708","type":"function","z":"556b50d.3e71e3","name":"Save cycle_data","func":"flow.set('mqtt_cycle', msg.payload);\n\nmsg.payload = {_id:msg.payload.id};\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":100,"wires":[["f302a3ca.074f88"]]},{"id":"3386c149.89500e","type":"function","z":"556b50d.3e71e3","name":"query mongo","func":"var mqtt_cycle = flow.get('mqtt_cycle') || 0;\nvar status = global.get('status') || 0;\nvar level = Math.round(10*(global.get('tankLevel') || 0))/10;\n\n\nif(msg.payload.length === 0){\n    msg._id = mqtt_cycle.id;\n    msg.payload = {id:mqtt_cycle.id, level, pump:mqtt_cycle.pump, data:mqtt_cycle.cycle_data, status};\n}\nelse{\n    var data = msg.payload[0].payload.data;\n    data.concat(mqtt_cycle.cycle_data);\n    \n    msg._id = mqtt_cycle.id;\n    msg.payload = {id:mqtt_cycle.id, level, pump:mqtt_cycle.pump, data, status};\n}\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":100,"wires":[["62d29c51.305a64"]]},{"id":"bc941244.b7c62","type":"influxdb in","z":0,"influxdb":"28cc5a36.da1f26","name":"Consultar DB","query":"","rawOutput":true,"precision":"ms","retentionPolicy":"","x":590,"y":280,"wires":[["bfc222cb.c9acf"]]},{"id":"2e8b5d2a.474ac2","type":"ui_dropdown","z":0,"name":"","label":"Select period","tooltip":"","place":"","group":"c185d0e4.08fcc","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"Last 15 Min","value":"15m","type":"str"},{"label":"Last 30 Min","value":"30m","type":"str"},{"label":"Last 1 Hour","value":"1h","type":"str"},{"label":"Last 2 Hours","value":"2h","type":"str"},{"label":"Last 4 Hours","value":"4h","type":"str"},{"label":"Last 12 Hours","value":"12h","type":"str"},{"label":"Last 24 Hours","value":"24h","type":"str"},{"label":"Last week","value":"1w","type":"str"},{"label":"Last Month","value":"30d","type":"str"},{"label":"Specify Period","value":"specify","type":"str"}],"payload":"","topic":"","x":170,"y":280,"wires":[["577cb18b.6ff31","6471905b.186e4"]]},{"id":"577cb18b.6ff31","type":"function","z":0,"name":"Select Periodo","func":"var periodPress = flow.get('periodPress') || \"30m\";\n\nif(typeof(msg.payload) == \"string\"){\n    periodPress = msg.payload;\n    flow.set('periodPress',periodPress);\n}\n\nif (periodPress == \"specify\"){\n    var StartDate = flow.get('StartDate') || \"now()\";\n    var EndDate = flow.get('EndDate') || \"now()\";\n    msg.query = \"SELECT level FROM tank WHERE time > \" + StartDate + \" and time < \" + EndDate;\n}\nelse{\n    msg.query = \"SELECT level FROM tank WHERE time > now() - \" + periodPress;\n}\n\nmsg.payload = msg.query\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":280,"wires":[["bc941244.b7c62"]]},{"id":"8d7a49e9.8db8f8","type":"ui_chart","z":0,"name":"","group":"c185d0e4.08fcc","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":340,"wires":[[]]},{"id":"bfc222cb.c9acf","type":"function","z":0,"name":"Verificar data","func":"if(Object.keys(msg.payload.results[0]).length > 1){\n    msg.payload = msg.payload.results[0].series[0].values;\n}\nelse{\n    msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":340,"wires":[["bbd4c72.febef38"]]},{"id":"bbd4c72.febef38","type":"function","z":0,"name":"Obtener datos","func":"if (msg.payload != null){\n    var values = msg.payload\n\n    var data = [];\n    var aux = [];\n    for( var i = 0; i < values.length ; i++){\n        aux.push({x:values[i][0], y:values[i][1]});\n    }\n    data.push(aux);\n    \n    msg.payload = [{series:[\"Press\"],data,labels:[values[0][2]]}];\n    \n    \n    return msg;\n}\n","outputs":1,"noerr":0,"x":600,"y":340,"wires":[["8d7a49e9.8db8f8"]]},{"id":"7a6cb59c.ac957c","type":"ui_form","z":0,"name":"","label":"yyyy-mm-dd hh:mm:ss","group":"a33552a6.2709e","order":2,"width":0,"height":0,"options":[{"label":"Start Date","value":"StartDate","type":"text","required":true,"rows":null},{"label":"End Date","value":"EndDate","type":"text","required":true,"rows":null}],"formValue":{"StartDate":"","EndDate":""},"payload":"","submit":"Send","cancel":"","topic":"","x":400,"y":220,"wires":[["2275fceb.2bdd04"]]},{"id":"33236e86.b23bc2","type":"ui_ui_control","z":0,"name":"","events":"all","x":620,"y":180,"wires":[[]]},{"id":"6471905b.186e4","type":"function","z":0,"name":"show/hide specify period","func":"if(msg.payload == \"specify\"){\n    msg.payload = {\"group\": {\"show\": [\"Tank_Specify_a_period\"]}};\n}\nelse{\n    msg.payload = {\"group\": {\"hide\": [\"Tank_Specify_a_period\"]}};\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":180,"wires":[["33236e86.b23bc2"]]},{"id":"2275fceb.2bdd04","type":"function","z":0,"name":"Save period","func":"var StartDate = msg.payload.StartDate;\nvar EndDate = msg.payload.EndDate;\n\nif (StartDate.startsWith(\"20\")){\n    StartDate = \"'\" + StartDate + \"'\";\n}\nif (EndDate.startsWith(\"20\")){\n    EndDate = \"'\" + EndDate + \"'\";\n}\n\nflow.set('StartDate', StartDate);\nflow.set('EndDate', EndDate);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":220,"wires":[["577cb18b.6ff31"]]},{"id":"f302a3ca.074f88","type":"mongodb in","z":"556b50d.3e71e3","mongodb":"9b1584e9.80d918","name":"cycles","collection":"cycles","operation":"find","x":690,"y":100,"wires":[["3386c149.89500e"]]},{"id":"efee58bc.e6b7a8","type":"function","z":"556b50d.3e71e3","name":"energia","func":"if(msg.payload != null){\n    var values = msg.payload;var press;\n    var time;\n    \n    var pressAnter = 0;\n    \n    var data = [];\n    var aux = [];\n    var potencia\n    var energia = 0;\n    \n    for( var i = 0; i < values.length ; i++){\n        time = values[i][0];\n        press = values[i][1];\n        if (pressAnter < press){\n            pressAnter = press;\n            energia += calculoEnergia(press);\n            \n        }\n        \n        \n        aux.push({x:time, y:energia});\n    }\n    data.push(aux);\n    \n    msg.payload = [{series:[\"Energy [J]\"],data,labels:[\"1\"]}];\n    \n    \n    return msg;\n}\n// Curva Caracteristica de la bomba\nfunction calculoPotencia(press){\n    var eq = (((-0.0088*Math.pow(press,3) + 1.447*Math.pow(press,2) - 82.004*press + 1744.5)*((press/1.422)*9.81))/(36*0.75));\n    if(eq > 0){\n        return eq;\n    }\n    else{\n        return 0;\n    }\n    \n}\n\nfunction calculoEnergia(press){\n    return calculoPotencia(press)*0.25;\n\n}","outputs":1,"noerr":0,"x":1020,"y":680,"wires":[["e77ad81a.cd6038"]]},{"id":"e77ad81a.cd6038","type":"ui_chart","z":"556b50d.3e71e3","name":"EnergyChart","group":"dfce0ef.4f403f","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1190,"y":680,"wires":[[]]},{"id":"d103d085.98215","type":"influxdb in","z":"e01f204d.183cc","influxdb":"28cc5a36.da1f26","name":"Consultar DB","query":"","rawOutput":true,"precision":"ms","retentionPolicy":"","x":590,"y":140,"wires":[["99c64cba.9f6b4"]]},{"id":"36715c12.63ee94","type":"ui_dropdown","z":"e01f204d.183cc","name":"","label":"Select period","tooltip":"","place":"","group":"c185d0e4.08fcc","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"Last 15 Min","value":"15m","type":"str"},{"label":"Last 30 Min","value":"30m","type":"str"},{"label":"Last 1 Hour","value":"1h","type":"str"},{"label":"Last 2 Hours","value":"2h","type":"str"},{"label":"Last 4 Hours","value":"4h","type":"str"},{"label":"Last 12 Hours","value":"12h","type":"str"},{"label":"Last 24 Hours","value":"24h","type":"str"},{"label":"Last week","value":"1w","type":"str"},{"label":"Last Month","value":"30d","type":"str"},{"label":"Specify Period","value":"specify","type":"str"}],"payload":"","topic":"","x":170,"y":140,"wires":[["22fe1cb.b80dee4","a76a086e.a96d58","158d3522.23d32b"]]},{"id":"22fe1cb.b80dee4","type":"function","z":"e01f204d.183cc","name":"Select Periodo","func":"var periodPress = flow.get('periodPress') || \"30m\";\n\nif(typeof(msg.payload) == \"string\"){\n    periodPress = msg.payload;\n    flow.set('periodPress',periodPress);\n}\n\nif (periodPress == \"specify\"){\n    var StartDate = flow.get('StartDate') || \"now()\";\n    var EndDate = flow.get('EndDate') || \"now()\";\n    msg.query = \"SELECT levelPercent FROM tank WHERE time > \" + StartDate + \" and time < \" + EndDate;\n}\nelse{\n    msg.query = \"SELECT levelPercent FROM tank WHERE time > now() - \" + periodPress;\n}\n\nmsg.payload = msg.query\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":140,"wires":[["d103d085.98215"]]},{"id":"99c64cba.9f6b4","type":"function","z":"e01f204d.183cc","name":"Verificar data","func":"if(Object.keys(msg.payload.results[0]).length > 1){\n    msg.payload = msg.payload.results[0].series[0].values;\n}\nelse{\n    msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":200,"wires":[["98226d8e.8a906"]]},{"id":"98226d8e.8a906","type":"function","z":"e01f204d.183cc","name":"Obtener datos","func":"if (msg.payload !== null){\n    var values = msg.payload;\n    var rawLevel = flow.get('tankLevelRaw') || 0;\n    \n    var xinicial = values[0][0];\n    var yinicial = values[0][1];\n    var xAfter1h;\n    var arrPoint1h = [];\n    var arrM1h = [];\n    \n    arrPoint1h.push({x: values[0][0], y: values[0][1]});\n\n    var data = [];\n    var aux = [];\n    var dataRaw = [];\n    var auxRaw = [];\n    \n    for( var i = 0; i < values.length ; i++){\n        aux.push({x:values[i][0], y:values[i][1].toFixed(2)});\n        \n    }\n    for( var j = 0; j < rawLevel.length ; j++){\n        auxRaw.push({x:rawLevel[j][0], y:rawLevel[j][1]});\n        \n    }\n    \n    for( var jj = 0; jj < values.length ; jj++){\n        xAfter1h = xinicial + 3600000;\n        if(values[jj][0] >= xAfter1h){\n            arrPoint1h.push({x: values[jj][0], y: values[jj][1]});\n            xinicial = values [jj][0];\n        }\n    }\n    \n    for( var l = 0; l < arrPoint1h.length-1; l++){\n        var m1h = (arrPoint1h[l].y-arrPoint1h[l+1].y)/(arrPoint1h[l].x-arrPoint1h[l+1].x);\n        arrM1h.push(m1h);\n    }\n   \n    var sumPendientes = 0;\n    for( var h = 0; h < arrM1h.length; h++){\n        sumPendientes +=  arrM1h[h];\n    }\n    var avgM = sumPendientes/arrM1h.length;\n\n    var xf = values[values.length-1][0];\n    var yf = values[values.length-1][1];\n    // var m = (y1-y2)/(x1-x2);\n    \n    var chart;\n    if(avgM > 0){\n        chart ={payload : [\n        {\n        \"series\": [\"Level\", \"LevelRaw\"],\n        \"data\": [aux,auxRaw],\n        \"labels\":[\" \",\" \"]\n        }\n        ]};\n        return [chart, \"\"];\n    }\n    // var b = y2-(m*x2);\n    // var x3 = x2 + 7200000;\n    // var y3 = m*x3 +b;\n    \n    var b = yf-(avgM*xf);\n    var arr = [];\n    \n    arr.push({x: xf, y: yf})\n    \n    var remaining = -b/avgM;\n    const locale = \"en-GB\";\n    const opt ={timeZone:'America/Caracas', month: 'short', day: '2-digit', hour: '2-digit', minute: '2-digit' };\n\n    var date = {payload : new Date(remaining).toLocaleDateString(locale,opt)};\n    \n    arr.push({x: remaining, y : 0});\n    \n    \n    chart ={payload : [\n        {\n        \"series\": [\"Level\", \"LevelRaw\",\"TrendLevel\"],\n        \"data\": [aux,auxRaw,arr],\n        \"labels\":[\" \",\" \",\" \"]\n        }\n    ]};\n \n    return [chart, date];\n}","outputs":2,"noerr":0,"x":580,"y":200,"wires":[["f9f06d75.0858b"],["e1810569.be79c8"]]},{"id":"faa8d5f6.9f3f48","type":"ui_form","z":"e01f204d.183cc","name":"","label":"yyyy-mm-dd hh:mm:ss","group":"a33552a6.2709e","order":1,"width":0,"height":0,"options":[{"label":"Start Date","value":"StartDate","type":"text","required":true,"rows":null},{"label":"End Date","value":"EndDate","type":"text","required":true,"rows":null}],"formValue":{"StartDate":"","EndDate":""},"payload":"","submit":"Send","cancel":"","topic":"","x":400,"y":80,"wires":[["b0b128fa.b2bfa8"]]},{"id":"6aeafe11.56032","type":"ui_ui_control","z":"e01f204d.183cc","name":"","events":"all","x":620,"y":40,"wires":[[]]},{"id":"a76a086e.a96d58","type":"function","z":"e01f204d.183cc","name":"show/hide specify period","func":"if(msg.payload == \"specify\"){\n    msg.payload = {\"group\": {\"show\": [\"Tank_Specify_a_period\"]}};\n}\nelse{\n    msg.payload = {\"group\": {\"hide\": [\"Tank_Specify_a_period\"]}};\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":40,"wires":[["6aeafe11.56032"]]},{"id":"b0b128fa.b2bfa8","type":"function","z":"e01f204d.183cc","name":"Save period","func":"var StartDate = msg.payload.StartDate;\nvar EndDate = msg.payload.EndDate;\n\nif (StartDate.startsWith(\"20\")){\n    StartDate = \"'\" + StartDate + \"'\";\n}\nif (EndDate.startsWith(\"20\")){\n    EndDate = \"'\" + EndDate + \"'\";\n}\n\nflow.set('StartDate', StartDate);\nflow.set('EndDate', EndDate);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":80,"wires":[["22fe1cb.b80dee4","158d3522.23d32b"]]},{"id":"4120bfbf.fa6ae","type":"function","z":"556b50d.3e71e3","name":"query data","func":"msg.payload = \"{}\"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["aa9d2292.b71b2"]]},{"id":"aa9d2292.b71b2","type":"mongodb in","z":"556b50d.3e71e3","mongodb":"9b1584e9.80d918","name":"cycles","collection":"cycles","operation":"find","x":470,"y":260,"wires":[["b0562ef.eabe1d"]]},{"id":"e524ca39.2e5278","type":"influxdb in","z":"b0393337.b9c61","influxdb":"28cc5a36.da1f26","name":"Consultar DB","query":"","rawOutput":true,"precision":"ms","retentionPolicy":"","x":550,"y":320,"wires":[["38d07fa9.661ee"]]},{"id":"de6d8094.521c9","type":"ui_dropdown","z":"b0393337.b9c61","name":"","label":"Select period","tooltip":"","place":"","group":"13777501.a49f1b","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"Last 15 Min","value":"15m","type":"str"},{"label":"Last 30 Min","value":"30m","type":"str"},{"label":"Last 1 Hour","value":"1h","type":"str"},{"label":"Last 2 Hours","value":"2h","type":"str"},{"label":"Last 4 Hours","value":"4h","type":"str"},{"label":"Last 12 Hours","value":"12h","type":"str"},{"label":"Last 24 Hours","value":"24h","type":"str"},{"label":"Last week","value":"1w","type":"str"},{"label":"Last Month","value":"30d","type":"str"},{"label":"Specify Period","value":"specify","type":"str"}],"payload":"","topic":"","x":130,"y":320,"wires":[["3b8c9602.4ff5da","859d06cb.48baf8"]]},{"id":"3b8c9602.4ff5da","type":"function","z":"b0393337.b9c61","name":"Select Periodo","func":"var periodPress = flow.get('periodPress') || \"30m\";\n\nif(typeof(msg.payload) == \"string\"){\n    periodPress = msg.payload;\n    flow.set('periodPress',periodPress);\n}\n\nif (periodPress == \"specify\"){\n    var StartDate = flow.get('StartDate') || \"now()\";\n    var EndDate = flow.get('EndDate') || \"now()\";\n    msg.query = \"SELECT currentPress FROM status WHERE time > \" + StartDate + \" and time < \" + EndDate;\n}\nelse{\n    msg.query = \"SELECT currentPress FROM status WHERE time > now() - \" + periodPress;\n}\n\nmsg.payload = msg.query\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":320,"wires":[["e524ca39.2e5278"]]},{"id":"d713e866.0e0428","type":"ui_chart","z":"b0393337.b9c61","name":"","group":"13777501.a49f1b","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":540,"wires":[[]]},{"id":"38d07fa9.661ee","type":"function","z":"b0393337.b9c61","name":"Verificar data","func":"if(Object.keys(msg.payload.results[0]).length > 1){\n    msg.payload = msg.payload.results[0].series[0].values;\n}\nelse{\n    msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":380,"wires":[["8fb51cc1.5e44a"]]},{"id":"8fb51cc1.5e44a","type":"function","z":"b0393337.b9c61","name":"Obtener datos","func":"if (msg.payload != null){\n    var values = msg.payload\n\n    var data = [];\n    var aux = [];\n    for( var i = 0; i < values.length ; i++){\n        aux.push({x:values[i][0], y:values[i][1]});\n    }\n    data.push(aux);\n    \n    msg.payload = [{series:[\"Press\"],data,labels:[values[0][2]]}];\n    \n    \n    return msg;\n}\n","outputs":1,"noerr":0,"x":500,"y":380,"wires":[["d7684702.441d78","3cd72b2f.f2ca34"]]},{"id":"8dde2e75.e84ee","type":"ui_form","z":"b0393337.b9c61","name":"","label":"yyyy-mm-dd hh:mm:ss","group":"43313228.0bf734","order":2,"width":0,"height":0,"options":[{"label":"Start Date","value":"StartDate","type":"text","required":true,"rows":null},{"label":"End Date","value":"EndDate","type":"text","required":true,"rows":null}],"formValue":{"StartDate":"","EndDate":""},"payload":"","submit":"Send","cancel":"","topic":"","x":360,"y":260,"wires":[["3b1317a8.191078"]]},{"id":"6d2474df.316a7c","type":"ui_ui_control","z":"b0393337.b9c61","name":"","events":"all","x":580,"y":220,"wires":[[]]},{"id":"859d06cb.48baf8","type":"function","z":"b0393337.b9c61","name":"show/hide specify period","func":"if(msg.payload == \"specify\"){\n    msg.payload = {\"group\": {\"show\": [\"Discharge_cycle_Specify_a_period\"]}};\n}\nelse{\n    msg.payload = {\"group\": {\"hide\": [\"Discharge_cycle_a_period\"]}};\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":220,"wires":[["6d2474df.316a7c"]]},{"id":"3b1317a8.191078","type":"function","z":"b0393337.b9c61","name":"Save period","func":"var StartDate = msg.payload.StartDate;\nvar EndDate = msg.payload.EndDate;\n\nif (StartDate.startsWith(\"20\")){\n    StartDate = \"'\" + StartDate + \"'\";\n}\nif (EndDate.startsWith(\"20\")){\n    EndDate = \"'\" + EndDate + \"'\";\n}\n\nflow.set('StartDate', StartDate);\nflow.set('EndDate', EndDate);\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":260,"wires":[["3b8c9602.4ff5da"]]},{"id":"3cd72b2f.f2ca34","type":"function","z":"b0393337.b9c61","name":"discharge filter","func":"var presion = msg.payload.data;\n\nfor (i = 0; i < presion.length; i++){\n    if (presion[i] > presion[i + 1]){\n        return 0;\n    }\n}\n\nmsg.payload.data = presion;\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":460,"wires":[["d713e866.0e0428"]]},{"id":"d7684702.441d78","type":"debug","z":"b0393337.b9c61","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":400,"y":520,"wires":[]},{"id":"3f9d6da8.093862","type":"function","z":"556b50d.3e71e3","name":"query data","func":"msg.payload = {_id:msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":300,"wires":[["55fc62ea.76e734"]]},{"id":"55fc62ea.76e734","type":"mongodb in","z":"556b50d.3e71e3","mongodb":"9b1584e9.80d918","name":"cycles","collection":"cycles","operation":"find","x":1090,"y":300,"wires":[["b153b34.32ac8d","89c9a055.e0c878","3f826449.737494","590adecc.a9de38","34733a3d.7a34ae","a697f30f.795288","fd55df1a.8f4c1","87ab2375.3aa7f","80cdba0a.4005d8","6dfa1581.0ad84c"]]},{"id":"ffdb7b8b.9a5bd8","type":"inject","z":"35eff90d.7e3136","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":1520,"wires":[["207283fb.71c4dc"]]},{"id":"207283fb.71c4dc","type":"influxdb in","z":"35eff90d.7e3136","influxdb":"28cc5a36.da1f26","name":"Consultar DB","query":"Select * from tank where time > now() -36h","rawOutput":true,"precision":"ms","retentionPolicy":"","x":370,"y":1520,"wires":[["47b8c3f7.808e2c"]]},{"id":"3f826449.737494","type":"ui_text","z":"556b50d.3e71e3","group":"333d67f4.4092e8","order":6,"width":2,"height":1,"name":"","label":"Setpoint","format":"{{msg.payload[0].payload.status.setpoint}} psi","layout":"col-center","x":1340,"y":240,"wires":[]},{"id":"590adecc.a9de38","type":"ui_text","z":"556b50d.3e71e3","group":"333d67f4.4092e8","order":7,"width":2,"height":1,"name":"","label":"Deadband:","format":"{{msg.payload[0].payload.status.deadband}} psi","layout":"col-center","x":1350,"y":280,"wires":[]},{"id":"34733a3d.7a34ae","type":"ui_text","z":"556b50d.3e71e3","group":"333d67f4.4092e8","order":16,"width":2,"height":1,"name":"","label":"Time Delay:","format":"{{msg.payload[0].payload.status.timeDelay}} s","layout":"row-spread","x":1350,"y":320,"wires":[]},{"id":"807aa7.aa896d58","type":"ui_text","z":"556b50d.3e71e3","group":"333d67f4.4092e8","order":17,"width":2,"height":1,"name":"","label":"High Press: ","format":"{{msg.payload.hp}}","layout":"col-center","x":1590,"y":200,"wires":[]},{"id":"fd55df1a.8f4c1","type":"ui_text","z":"556b50d.3e71e3","group":"333d67f4.4092e8","order":10,"width":2,"height":1,"name":"","label":"Pump1 Fails: ","format":"{{msg.payload[0].payload.status.counterPump1Fail}}","layout":"row-spread","x":1590,"y":280,"wires":[]},{"id":"a9b8380d.ed02b","type":"ui_text","z":"556b50d.3e71e3","group":"333d67f4.4092e8","order":14,"width":2,"height":1,"name":"","label":"Low Press: ","format":"{{msg.payload.lp}}","layout":"col-center","x":1590,"y":240,"wires":[]},{"id":"87ab2375.3aa7f","type":"ui_text","z":"556b50d.3e71e3","group":"333d67f4.4092e8","order":12,"width":2,"height":1,"name":"","label":"Pump2 Fails: ","format":"{{msg.payload[0].payload.status.counterPump2Fail}}","layout":"row-spread","x":1590,"y":320,"wires":[]},{"id":"e4f5ce9e.8d54c","type":"ui_text","z":"556b50d.3e71e3","group":"333d67f4.4092e8","order":19,"width":2,"height":1,"name":"","label":"Selector1:","format":"{{msg.payload.sel1}}","layout":"col-center","x":1770,"y":160,"wires":[]},{"id":"cc404aac.a1429","type":"ui_text","z":"556b50d.3e71e3","group":"333d67f4.4092e8","order":18,"width":2,"height":1,"name":"","label":"Source:","format":"{{msg.payload.hi}}","layout":"col-center","x":1590,"y":160,"wires":[]},{"id":"a697f30f.795288","type":"ui_text","z":"556b50d.3e71e3","group":"333d67f4.4092e8","order":15,"width":2,"height":1,"name":"","label":"Time To Start:","format":"{{msg.payload[0].payload.status.timeToStart}} s","layout":"row-spread","x":1360,"y":360,"wires":[]},{"id":"4c0b8eee.31668","type":"ui_text","z":"556b50d.3e71e3","group":"333d67f4.4092e8","order":21,"width":2,"height":1,"name":"","label":"Selector2:","format":"{{msg.payload.sel2}}","layout":"col-center","x":1770,"y":200,"wires":[]},{"id":"89c9a055.e0c878","type":"ui_text","z":"556b50d.3e71e3","group":"333d67f4.4092e8","order":5,"width":2,"height":1,"name":"","label":"Pump: ","format":"{{msg.payload[0].payload.pump}}","layout":"col-center","x":1330,"y":200,"wires":[]},{"id":"47b8c3f7.808e2c","type":"function","z":"35eff90d.7e3136","name":"Verificar data","func":"if(Object.keys(msg.payload.results[0]).length > 1){\n    msg.payload = msg.payload.results[0].series[0].values;\n}\nelse{\n    msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1520,"wires":[["6a7c4c6a.589854"]]},{"id":"6a7c4c6a.589854","type":"function","z":"35eff90d.7e3136","name":"Obtener datos","func":"if (msg.payload !== null){\n    var values = msg.payload;\n\n    var data = [];\n    var aux = [];\n    for( var i = 0; i < values.length ; i++){\n        aux.push({x:values[i][0], y:Math.round(values[i][9]*10)/10});\n    }\n    data.push(aux);\n    \n    var x1 = values[0][0];\n    var y1 = values[0][9];\n    \n    var x2 = values[values.length-1][0];\n    var y2 = values[values.length-1][9];\n\n    // msg.payload = {x1, y1, x2, y2};\n    var m = (y1-y2)/(x1-x2);\n    \n    if(m > 0){\n        msg.payload = [\n        {\n        \"series\": [\"Level\"],\n        \"data\": [aux],\n        \"labels\":[\" \"]\n        }\n        ];\n        return msg;\n    }\n    var b = y2-(m*x2);\n    var x3 = x2 + 7200000;\n    var y3 = m*x3 +b;\n    \n    var arr = [];\n    \n    arr.push({x: x2, y: y2})\n    arr.push({x: x3, y: y3})\n    \n    var remaining = -b/m;\n    const locale = \"en-GB\";\n    const opt ={timeZone:'America/Caracas', month: 'short', day: '2-digit', hour: '2-digit', minute: '2-digit' };\n\n    var date = {payload : new Date(remaining).toLocaleDateString(locale,opt)};\n    \n    arr.push({x: remaining, y : 0});\n    \n    \n    msg.payload = [\n        {\n        \"series\": [\"Level\",\"TrendLevel\"],\n        \"data\": [aux,arr],\n        \"labels\":[\" \",\" \"]\n        }\n    ];\n    \n    \n    return msg;\n}\n","outputs":1,"noerr":0,"x":740,"y":1520,"wires":[["3f1142db.209ca6"]]},{"id":"b153b34.32ac8d","type":"function","z":"556b50d.3e71e3","name":"parse","func":"if(msg.payload.length > 0){\n    var st = msg.payload[0].payload.status;\n    var hi = mapAlert(st.hidrocapitalAlert);\n    var hp = mapAlert(st.highPressAlert);\n    var lp = mapAlert(st.lowPressAlert);\n    var sel1 = mapSelector(st.selector1);\n    var sel2 = mapSelector(st.selector2);\n    msg.payload = {hi,hp,lp,sel1,sel2};\n    \n    return msg;\n}\n\n\nfunction mapAlert(alert) {\n    if(alert){\n        return \"!\";\n    }\n    else{\n        return \"\";\n    }\n}\nfunction mapSelector(selector) {\n    switch(selector){\n        case 0: \n            return \"OFF\";\n        case 1:\n            return \"ON\";\n        case 2:\n            return \"REM\";\n        default:\n            return \"\";\n    }\n}","outputs":1,"noerr":0,"x":1390,"y":420,"wires":[["cc404aac.a1429","807aa7.aa896d58","a9b8380d.ed02b","e4f5ce9e.8d54c","4c0b8eee.31668"]]},{"id":"76c7e424.fa45f4","type":"inject","z":"556b50d.3e71e3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":260,"wires":[["4120bfbf.fa6ae"]]},{"id":"adaf6969.cc5108","type":"ui_button","z":"556b50d.3e71e3","name":"refresh","group":"333d67f4.4092e8","order":3,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"orange","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"","x":130,"y":220,"wires":[["4120bfbf.fa6ae"]]},{"id":"d5ac3dfc.c4947","type":"function","z":"556b50d.3e71e3","name":"verify date","func":"if(msg.payload.id.length < 12){ // Mal_id\n    var BadID = context.get('BadID') || 0;\n    var timestamp;\n    \n    if(BadID !== msg.payload.id){\n        timestamp = new Date().getTime()/1000;\n        timestamp = \"C-\" + String(parseInt(timestamp));\n        context.set('timestamp', timestamp);\n    }\n    else{\n        timestamp = context.get('timestamp') || 0;\n    }\n    context.set('BadID', msg.payload.id);\n    msg.payload.id = timestamp;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":60,"wires":[["c090f54a.a100e","836381f1.96f708"]]},{"id":"d9cfeafb.d3dac8","type":"delay","z":"35eff90d.7e3136","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":650,"y":1320,"wires":[["8e86c402.d95ad8"]]},{"id":"8e86c402.d95ad8","type":"function","z":"35eff90d.7e3136","name":"Preparar Raw Data","func":"var rawLevel = msg.payload.level;\nvar rawLevel_percent = msg.payload.level_percent;\nvar rawLiters = msg.payload.liters;\n\nmsg.payload = {rawLevel,rawLevel_percent,rawLiters};\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":1320,"wires":[["1f7fbcbb.889d93"]]},{"id":"1f7fbcbb.889d93","type":"influxdb out","z":"35eff90d.7e3136","influxdb":"28cc5a36.da1f26","name":"rawTank","measurement":"rawtank","precision":"","retentionPolicy":"","x":1040,"y":1320,"wires":[]},{"id":"80cdba0a.4005d8","type":"ui_text","z":"556b50d.3e71e3","group":"333d67f4.4092e8","order":13,"width":2,"height":1,"name":"","label":"Tank Level:","format":"{{msg.payload[0].payload.level}}%","layout":"col-center","x":1770,"y":240,"wires":[]},{"id":"381b5606.b747fa","type":"influxdb in","z":"e01f204d.183cc","influxdb":"28cc5a36.da1f26","name":"Consultar DB","query":"","rawOutput":true,"precision":"ms","retentionPolicy":"","x":590,"y":300,"wires":[["ca0cddc0.56545"]]},{"id":"158d3522.23d32b","type":"function","z":"e01f204d.183cc","name":"Select Periodo","func":"var periodPress = flow.get('periodPress') || \"30m\";\n\nif(typeof(msg.payload) == \"string\"){\n    periodPress = msg.payload;\n    flow.set('periodPress',periodPress);\n}\n\nif (periodPress == \"specify\"){\n    var StartDate = flow.get('StartDate') || \"now()\";\n    var EndDate = flow.get('EndDate') || \"now()\";\n    msg.query = \"SELECT rawLevel_percent FROM rawtank WHERE time > \" + StartDate + \" and time < \" + EndDate;\n}\nelse{\n    msg.query = \"SELECT rawLevel_percent FROM rawtank WHERE time > now() - \" + periodPress;\n}\n\nmsg.payload = msg.query\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":300,"wires":[["381b5606.b747fa"]]},{"id":"ca0cddc0.56545","type":"function","z":"e01f204d.183cc","name":"Verificar data","func":"if(Object.keys(msg.payload.results[0]).length > 1){\n    msg.payload = msg.payload.results[0].series[0].values;\n}\nelse{\n    msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":360,"wires":[["f5517f74.ec1b9"]]},{"id":"f5517f74.ec1b9","type":"function","z":"e01f204d.183cc","name":"Obtener datos","func":"if (msg.payload !== null){\n    var valuesraw = msg.payload;\n\n    flow.set('tankLevelRaw', valuesraw);\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":360,"wires":[[]]},{"id":"f9f06d75.0858b","type":"ui_chart","z":"e01f204d.183cc","name":"","group":"c185d0e4.08fcc","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"120","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":140,"wires":[[]]},{"id":"61c09d47.448934","type":"ui_gauge","z":"35eff90d.7e3136","name":"","group":"d78677dd.786ca8","order":2,"width":0,"height":0,"gtype":"gage","title":"Tank Level","label":"%","format":"{{value}}","min":0,"max":"110","colors":["#cf9fff","#ac7afe","#0000ff"],"seg1":"25","seg2":"50","x":1670,"y":1220,"wires":[],"icon":"node-red/db.svg"},{"id":"59deaffe.7dd628","type":"function","z":"35eff90d.7e3136","name":"parse level","func":"msg.payload = msg.payload.levelPercent;\nreturn msg;","outputs":1,"noerr":0,"x":1500,"y":1220,"wires":[["61c09d47.448934"]]},{"id":"713d5c21.9d62fc","type":"ui_button","z":"151202e2.a49d4d","name":"","group":"57182739.5b01a8","order":2,"width":"2","height":"1","passthru":false,"label":"Restart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"30AEA4180928/control/restart","x":140,"y":420,"wires":[["6f7f2406.37418c"]]},{"id":"6f7f2406.37418c","type":"mqtt out","z":"151202e2.a49d4d","name":"","topic":"","qos":"","retain":"","broker":"8475b52b.3a6c88","x":310,"y":420,"wires":[]},{"id":"e1e348c9.21b138","type":"join","z":"35eff90d.7e3136","name":"JOIN DATA","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"payload","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":870,"y":1180,"wires":[["378c23ba.ffbebc"]]},{"id":"37ce5229.b2beee","type":"function","z":"35eff90d.7e3136","name":"filtro kalman","func":"var R = 1;\nvar Q = 0.03;\n\nvar Xt = context.get('Xt_1') || msg.payload.level;\n\n\nvar Pt = (context.get('Pt_1') || 1) + Q;\nvar Kg = Pt/(Pt + R);\n\nmsg.payload = Xt + Kg*(msg.payload.level - Xt);\nPt = (1 - Kg)*Pt;\n\ncontext.set('Xt_1', msg.payload);\ncontext.set('Pt_1', Pt);\n\n\nmsg.payload = {level:msg.payload}\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1140,"wires":[["e1e348c9.21b138"]]},{"id":"d49054cf.76b698","type":"function","z":"35eff90d.7e3136","name":"filtro kalman","func":"var R = 1;\nvar Q = 0.03;\n\nvar Xt = context.get('Xt_1') || msg.payload.level_percent;\n\n\nvar Pt = (context.get('Pt_1') || 1) + Q;\nvar Kg = Pt/(Pt + R);\n\nmsg.payload = Xt + Kg*(msg.payload.level_percent - Xt);\nPt = (1 - Kg)*Pt;\n\ncontext.set('Xt_1', msg.payload);\ncontext.set('Pt_1', Pt);\n\nmsg.payload = {level_percent:msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1200,"wires":[["e1e348c9.21b138"]]},{"id":"21816076.14f968","type":"ui_button","z":"151202e2.a49d4d","name":"Restart level","group":"57182739.5b01a8","order":4,"width":"2","height":"1","passthru":false,"label":"Restart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"382B7804077E/level/control/restart","x":150,"y":460,"wires":[["aca2cd0b.53a0b"]]},{"id":"aca2cd0b.53a0b","type":"mqtt out","z":"151202e2.a49d4d","name":"","topic":"","qos":"","retain":"","broker":"8475b52b.3a6c88","x":310,"y":460,"wires":[]},{"id":"a295f5e7.2c8dd8","type":"comment","z":"35eff90d.7e3136","name":"","info":"Contenedor del boost de presion\n\nPermite hacer boost de la presion.\n\nRecibe el valor de slider y lo envía por el mqtt al controlador","x":160,"y":440,"wires":[]},{"id":"8e727e6.6dc898","type":"comment","z":"35eff90d.7e3136","name":"","info":"Recibe la data proveniente del sensor de nivel\na través de MQTT con el topic\n\nMAC/level/monitor/status\n\ndata que llega\n`{level,level_percent,volume}`","x":160,"y":1260,"wires":[]},{"id":"7619e697.b4ca28","type":"comment","z":"35eff90d.7e3136","name":"","info":"Esta flujo contiene La lógica para pintar en el dashboard la grafica historial del nivel del tanque en litros\n\nSolicita a la base de datos la data del tanque y la acomoda para la grafica","x":180,"y":1480,"wires":[]},{"id":"f966055.c5a8ef8","type":"ui_form","z":"e01f204d.183cc","name":"","label":"CAUTION SYSTEM COULD MALFUNTION","group":"56bebaa4.208664","order":1,"width":0,"height":0,"options":[{"label":"Offset Superior","value":"level_sup","type":"number","required":true,"rows":null},{"label":"Offset Inferior","value":"level_inf","type":"number","required":true,"rows":null}],"formValue":{"level_sup":"","level_inf":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":580,"wires":[["c2d9a754.9f2e38"]]},{"id":"c2d9a754.9f2e38","type":"function","z":"e01f204d.183cc","name":"Preparar topic","func":"var data = msg.payload;\n\n\nmsg.payload = data\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":580,"wires":[["95373be3.3e4d88","12356c00.30e794"]]},{"id":"a6876cd7.eb131","type":"mqtt out","z":"e01f204d.183cc","name":"MQTT OFFSET","topic":"","qos":"","retain":"","broker":"8475b52b.3a6c88","x":940,"y":520,"wires":[]},{"id":"95373be3.3e4d88","type":"function","z":"e01f204d.183cc","name":"Preparar level_sup","func":"var data = msg.payload.level_sup;\n\nmsg.payload = data;\nmsg.topic = \"382B7804077E/level/control/offsetsup\"\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":520,"wires":[["a6876cd7.eb131","c7dcce5a.7242c"]]},{"id":"12356c00.30e794","type":"function","z":"e01f204d.183cc","name":"preparar level_inv","func":"var data = msg.payload.level_inf;\n\nmsg.payload = data;\nmsg.topic = \"382B7804077E/level/control/offsetinf\"\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":620,"wires":[["a36693b7.a45e6","c7dcce5a.7242c"]]},{"id":"a36693b7.a45e6","type":"mqtt out","z":"e01f204d.183cc","name":"MQTT OFFSET","topic":"","qos":"","retain":"","broker":"8475b52b.3a6c88","x":940,"y":620,"wires":[]},{"id":"b3542c04.5bc56","type":"comment","z":"e01f204d.183cc","name":"","info":"Contenedor form ubicado en la pantalla tank\n\nPermite recibir los valores de nivel superior y nivel inferior\n\nY los envía al controlador de nivel por dos topics diferentes, en formato de numero\n\nSi se ingresa\n\nnivel superior = 90\n\nnivel inferior = 15\n\nEsos datos en formato de numero serán enviados al controlador a través del MQTT.","x":160,"y":520,"wires":[]},{"id":"6bc917fe.553d38","type":"ui_button","z":"e01f204d.183cc","name":"","group":"dca545c8.9fe078","order":2,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"1","payloadType":"str","topic":"382B7804077E/level/control/settings","x":150,"y":760,"wires":[["31c356a5.f2850a"]]},{"id":"31c356a5.f2850a","type":"mqtt out","z":"e01f204d.183cc","name":"MQTT TRIGGER SETTINGS","topic":"","qos":"","retain":"","broker":"8475b52b.3a6c88","x":540,"y":760,"wires":[]},{"id":"1ae3a2e4.bdd38d","type":"mqtt in","z":"e01f204d.183cc","name":"","topic":"382B7804077E/level/monitor/settings","qos":"2","datatype":"json","broker":"8475b52b.3a6c88","x":250,"y":920,"wires":[["b4d7cfbd.5d21e","44eb2d90.cbeef4","b41828ab.425688","ebca4e53.24fef","8889ae4f.c8aa9"]]},{"id":"b4d7cfbd.5d21e","type":"ui_text","z":"e01f204d.183cc","group":"dca545c8.9fe078","order":3,"width":0,"height":0,"name":"","label":"max volume","format":"{{msg.payload.max_volume}}","layout":"row-spread","x":590,"y":860,"wires":[]},{"id":"44eb2d90.cbeef4","type":"ui_text","z":"e01f204d.183cc","group":"dca545c8.9fe078","order":4,"width":0,"height":0,"name":"","label":"max distance","format":"{{msg.payload.max_distance}}","layout":"row-spread","x":590,"y":900,"wires":[]},{"id":"ebca4e53.24fef","type":"ui_text","z":"e01f204d.183cc","group":"dca545c8.9fe078","order":5,"width":0,"height":0,"name":"","label":"offset superior","format":"{{msg.payload.offset_sup}}","layout":"row-spread","x":600,"y":980,"wires":[]},{"id":"8889ae4f.c8aa9","type":"ui_text","z":"e01f204d.183cc","group":"dca545c8.9fe078","order":6,"width":0,"height":0,"name":"","label":"offset inferior","format":"{{msg.payload.offset_inf}}","layout":"row-spread","x":590,"y":1020,"wires":[]},{"id":"9481f088.d505f","type":"inject","z":"a1390874.1c5c3","name":"cada min","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":220,"wires":[["15439676.153e6a","ba63f267.849528"]]},{"id":"b41828ab.425688","type":"ui_text","z":"e01f204d.183cc","group":"dca545c8.9fe078","order":7,"width":0,"height":0,"name":"","label":"min distance","format":"{{msg.payload.min_distance}}","layout":"row-spread","x":590,"y":940,"wires":[]},{"id":"cbd224fd.98d358","type":"ui_text","z":"151202e2.a49d4d","group":"d3f96434.b74288","order":1,"width":6,"height":1,"name":"controller link","label":"","format":"{{msg.payload.link}}","layout":"col-center","x":820,"y":240,"wires":[]},{"id":"9700c835.a3d55","type":"ui_text","z":"151202e2.a49d4d","group":"d78677dd.786ca8","order":1,"width":0,"height":0,"name":"level link","label":"","format":"{{msg.payload.link}}","layout":"col-center","x":800,"y":360,"wires":[]},{"id":"e09c10b1.d6f4d8","type":"function","z":"151202e2.a49d4d","name":"parse","func":"msg.payload = {link:msg.payload[0].link};\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":300,"wires":[["cbd224fd.98d358","fb730284.1fee18"]]},{"id":"14a9f182.cacf5e","type":"function","z":"151202e2.a49d4d","name":"parse","func":"msg.payload = {link:msg.payload[0].link};\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":340,"wires":[["67471c84.ecc9fc","9700c835.a3d55"]]},{"id":"e1810569.be79c8","type":"ui_text","z":"e01f204d.183cc","group":"c185d0e4.08fcc","order":5,"width":0,"height":0,"name":"","label":"Empty tank date","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":220,"wires":[]},{"id":"c3e3c7a2.13bbb8","type":"influxdb in","z":"a1390874.1c5c3","influxdb":"28cc5a36.da1f26","name":"query","query":"SELECT hidrocapitalAlert FROM status WHERE time > now() - 1h","rawOutput":false,"precision":"","retentionPolicy":"","x":410,"y":540,"wires":[[]]},{"id":"d2b4c40d.dafc38","type":"inject","z":"a1390874.1c5c3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":540,"wires":[["c3e3c7a2.13bbb8"]]},{"id":"866eecdc.9d5d4","type":"debug","z":"a1390874.1c5c3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":540,"wires":[]},{"id":"6bd5a3d9.86622c","type":"influxdb in","z":"e0c2c727.aefb48","influxdb":"28cc5a36.da1f26","name":"Consultar DB","query":"","rawOutput":true,"precision":"ms","retentionPolicy":"","x":830,"y":160,"wires":[["e585a040.17f97"]]},{"id":"6bd7e059.f64b3","type":"function","z":"e0c2c727.aefb48","name":"Select Periodo","func":"var Dayms = 86400000;\nvar Weekms = 604800000;\nvar time = new Date().getTime();\ntime = Math.floor(time/Dayms)*Dayms; //exact time\nvar Day =  new Date(time).getDay() || 7;\nvar Monday = time-(Day-1)*Dayms;\nvar startWeek = 0;\nvar endWeek = 0;\n\nstartWeek = Monday - (msg.payload)*Weekms;\nendWeek = startWeek + Weekms;\n\nmsg.query = \"SELECT hidrocapitalAlert FROM status WHERE time > \" + startWeek + \"000000\" + \" and time <\" + endWeek + \"000000\";\nmsg.payload = {startWeek, endWeek};\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":160,"wires":[["6bd5a3d9.86622c"]]},{"id":"a0741fce.80e6f","type":"ui_chart","z":"e0c2c727.aefb48","name":"","group":"c686f180.0d953","order":2,"width":"0","height":"0","label":"","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"24","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":280,"wires":[[]]},{"id":"e585a040.17f97","type":"function","z":"e0c2c727.aefb48","name":"Verificar data","func":"if(Object.keys(msg.payload.results[0]).length > 1){\n    msg.payload = msg.payload.results[0].series[0].values;\n}\nelse{\n    msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":220,"wires":[["d8a9cb2f.1fdb58","ae6dfc83.11c34"]]},{"id":"73ff2b6c.cbe1a4","type":"debug","z":"35eff90d.7e3136","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1520,"y":1320,"wires":[]},{"id":"c7dcce5a.7242c","type":"debug","z":"e01f204d.183cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":700,"wires":[]},{"id":"e49b01fd.ffdcc","type":"function","z":"556b50d.3e71e3","name":"Pump Time","func":"if(msg.payload !== null){\n    var values = msg.payload;\n    var pumpTime = values[values.length -1][0] - values[0][0];\n    msg.payload = Math.round(pumpTime*10/1000)/10;\n    \n    return msg;  \n}\n","outputs":1,"noerr":0,"x":1030,"y":420,"wires":[["7d3081a9.ef18"]]},{"id":"7d3081a9.ef18","type":"ui_text","z":"556b50d.3e71e3","group":"333d67f4.4092e8","order":11,"width":2,"height":1,"name":"","label":"Pump Time:","format":"{{msg.payload}} sec","layout":"row-spread","x":1770,"y":280,"wires":[]},{"id":"5e6e06f9.5c4318","type":"debug","z":"e01f204d.183cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":280,"wires":[]},{"id":"7598c005.27705","type":"mqtt in","z":"35eff90d.7e3136","name":"","topic":"+/monitor/status","qos":"0","datatype":"json","broker":"8475b52b.3a6c88","x":140,"y":880,"wires":[["5e3cee97.b3d868"]]},{"id":"2e1489da.43add6","type":"debug","z":"35eff90d.7e3136","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":880,"wires":[]},{"id":"5e3cee97.b3d868","type":"function","z":"35eff90d.7e3136","name":"","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":960,"wires":[[]]},{"id":"8fc04cd4.078c","type":"function","z":"35eff90d.7e3136","name":"","func":"msg.payload = flow.get('30AEA419F680/monitor/status');\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1020,"wires":[[]]},{"id":"4a697b0c.3ac0bc","type":"inject","z":"35eff90d.7e3136","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1020,"wires":[["8fc04cd4.078c","efef93b0.1734"]]},{"id":"efef93b0.1734","type":"function","z":"35eff90d.7e3136","name":"","func":"msg.payload = flow.get('30AEA4180928/monitor/status');\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1060,"wires":[[]]},{"id":"fc150941.d10738","type":"function","z":"e0c2c727.aefb48","name":"Verificar data","func":"if(Object.keys(msg.payload.results[0]).length > 1){\n    msg.payload = msg.payload.results[0].series[0].values;\n}\nelse{\n    msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":520,"wires":[["f0121143.d7d53"]]},{"id":"45dc3176.84d18","type":"influxdb in","z":"e0c2c727.aefb48","influxdb":"28cc5a36.da1f26","name":"Consultar DB","query":"","rawOutput":true,"precision":"ms","retentionPolicy":"","x":730,"y":460,"wires":[["fc150941.d10738"]]},{"id":"59ac90ba.487d7","type":"inject","z":"e0c2c727.aefb48","name":"cada minuti","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":460,"wires":[["5f9057e5.7d96e8"]]},{"id":"5f9057e5.7d96e8","type":"function","z":"e0c2c727.aefb48","name":"Select Periodo","func":"var Dayms = 86400000;\nvar time = new Date().getTime();\ntime = Math.floor(time/Dayms)*Dayms; //exact time\n\nvar Day =  new Date(time).getDay() || 7;\n\nvar startWeek = time-(Day-1)*Dayms;\nvar endWeek = startWeek - 604800000; \n\n\n\nmsg.query = \"SELECT hidrocapitalAlert FROM status WHERE time > \" + endWeek + \"000000\" + \" and time <\" + startWeek + \"000000\";\nmsg.payload = {startWeek, endWeek};\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":460,"wires":[["45dc3176.84d18"]]},{"id":"f0121143.d7d53","type":"function","z":"e0c2c727.aefb48","name":"Preparar data","func":"var values = msg.payload;\nvar time = 0;\nvar hidValue = values[0][1];\nvar lastTime = values[0][0];\nvar arrData = [];\nconst DAYMS = 3600000;\nvar monday = 0;\nvar tuesday = 0;\nvar wednesday = 0;\nvar thursday = 0;\nvar friday = 0;\nvar saturday = 0;\nvar sunday = 0;\n\nfor(var i = 0; i < values.length; i++){\n \n    time = values[i][0];\n    Day = new Date(time).getDay() || 7;\n    \n    switch(Day){\n        case 1:\n            \n            if(values[i][1] === true){\n                monday += (time- lastTime);\n            }\n            lastTime = time;\n            \n            break;\n        case 2:\n            \n            if(values[i][1] === true){\n                tuesday += (time- lastTime);\n            }\n            lastTime = time;\n            \n            break;\n        case 3:\n            \n            if(values[i][1] === true){\n                wednesday += (time- lastTime);\n            }\n            lastTime = time;\n            \n            break;\n        case 4:\n            \n            if(values[i][1] === true){\n                thursday += (time- lastTime);\n            }\n            lastTime = time;\n            \n            break;\n        case 5:\n            \n            if(values[i][1] === true){\n                friday += (time- lastTime);\n            }\n            lastTime = time;\n            \n            break;\n        case 6:\n            \n            if(values[i][1] === true){\n                saturday += (time- lastTime);\n            }\n            lastTime = time;\n            \n            break;\n        case 7:\n            \n            if(values[i][1] === true){\n                sunday += (time- lastTime);\n            }\n            lastTime = time;\n            \n            break;\n\n    }\n    \n}\n\n    arrData.push(monday/DAYMS);\n    arrData.push(tuesday/DAYMS);\n    arrData.push(wednesday/DAYMS);\n    arrData.push(thursday/DAYMS);\n    arrData.push(friday/DAYMS);\n    arrData.push(saturday/DAYMS);\n    arrData.push(sunday/DAYMS);\n\nmsg.payload = arrData;\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":520,"wires":[[]]},{"id":"de090694.209108","type":"ui_button","z":"e0c2c727.aefb48","name":"","group":"c686f180.0d953","order":3,"width":2,"height":1,"passthru":false,"label":"This Week","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":270,"y":140,"wires":[["6bd7e059.f64b3"]]},{"id":"5bc09424.76897c","type":"ui_button","z":"e0c2c727.aefb48","name":"","group":"c686f180.0d953","order":4,"width":2,"height":1,"passthru":false,"label":"Last Week","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":270,"y":180,"wires":[["6bd7e059.f64b3"]]},{"id":"d8a9cb2f.1fdb58","type":"function","z":"e0c2c727.aefb48","name":"Preparar data","func":"var values = msg.payload;\nvar time = 0;\nvar hidValue = values[0][1];\nvar lastTime = values[0][0];\nvar arrData = [];\nconst DAYMS = 3600000;\nvar monday = 0;\nvar tuesday = 0;\nvar wednesday = 0;\nvar thursday = 0;\nvar friday = 0;\nvar saturday = 0;\nvar sunday = 0;\n\nvar flip = false;\n\nfor(var i = 0; i < values.length; i++){\n \n    time = values[i][0];\n    Day = new Date(time).getDay() || 7;\n    \n    switch(Day){\n        case 1:\n            \n            if(values[i][1] === flip){\n                monday += (time- lastTime);\n            }\n            lastTime = time;\n            \n            break;\n        case 2:\n            \n            if(values[i][1] === flip){\n                tuesday += (time- lastTime);\n            }\n            lastTime = time;\n            \n            break;\n        case 3:\n            \n            if(values[i][1] === flip){\n                wednesday += (time- lastTime);\n            }\n            lastTime = time;\n            \n            break;\n        case 4:\n            \n            if(values[i][1] === flip){\n                thursday += (time- lastTime);\n            }\n            lastTime = time;\n            \n            break;\n        case 5:\n            \n            if(values[i][1] === flip){\n                friday += (time- lastTime);\n            }\n            lastTime = time;\n            \n            break;\n        case 6:\n            \n            if(values[i][1] === flip){\n                saturday += (time- lastTime);\n            }\n            lastTime = time;\n            \n            break;\n        case 7:\n            \n            if(values[i][1] === flip){\n                sunday += (time- lastTime);\n            }\n            lastTime = time;\n            \n            break;\n\n    }\n    \n}\n\n    arrData.push(Math.round(monday*10/DAYMS)/10);\n    arrData.push(Math.round(tuesday*10/DAYMS)/10);\n    arrData.push(Math.round(wednesday*10/DAYMS)/10);\n    arrData.push(Math.round(thursday*10/DAYMS)/10);\n    arrData.push(Math.round(friday*10/DAYMS)/10);\n    arrData.push(Math.round(saturday*10/DAYMS)/10);\n    arrData.push(Math.round(sunday*10/DAYMS)/10);\n    \n\nmsg.payload = [arrData];\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":220,"wires":[["b6fb4a61.089ed8"]]},{"id":"b6fb4a61.089ed8","type":"function","z":"e0c2c727.aefb48","name":"Mostrar Data","func":"var data = msg.payload;\nvar labels = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']\nvar series = ['source']\nmsg.payload = [{series,data,labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":280,"wires":[["a0741fce.80e6f"]]},{"id":"3b1f68a.22bf198","type":"ui_switch","z":"e0c2c727.aefb48","name":"","label":"Sin agua HID","tooltip":"True = Alert ON","group":"c686f180.0d953","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"flip","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":280,"wires":[["7df3213c.459f6"]]},{"id":"7df3213c.459f6","type":"function","z":"e0c2c727.aefb48","name":"","func":"flow.set('activarHIDAlet', msg.payload);","outputs":1,"noerr":0,"x":410,"y":280,"wires":[[]]},{"id":"b93bf2af.c1339","type":"inject","z":"e01f204d.183cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":1200,"wires":[[]]},{"id":"fcee6647.21fb58","type":"mqtt out","z":"e01f204d.183cc","name":"","topic":"382B7804077E/level/distsup","qos":"","retain":"","broker":"8475b52b.3a6c88","x":700,"y":1160,"wires":[]},{"id":"1ed9b6b6.f92759","type":"function","z":"e01f204d.183cc","name":"","func":"msg.topic = \"382B7804077E/level/control/distsup\";\nmsg.payload = \n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1240,"wires":[[]]},{"id":"ae6dfc83.11c34","type":"function","z":"e0c2c727.aefb48","name":"Historial HID","func":"var values = msg.payload;\n\nvar flip = flow.get('activarHIDAlet') || false;\n\nfor(var i = 0; i < values.length; i++){\n \n    time = values[i][0];\n    Day = new Date(time).getDay() || 7;\n\n    \n    switch(Day){\n        case 1:\n            \n            break;\n        case 2:\n            break;\n        case 3:\n            break;\n        case 4:\n            break;\n        case 5:\n            break;\n        case 6:\n            break;\n        case 7:\n            break;\n    }\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":360,"wires":[[]]},{"id":"5ea1c79b.e666f","type":"mqtt in","z":"c864b563.c9122","name":"Rx MQTT cycles","topic":"+/monitor/cycle","qos":"0","datatype":"json","broker":"a8d3c013.5fa14","x":120,"y":180,"wires":[["2932d218.897266"]]},{"id":"70a22beb.8cfcfc","type":"function","z":"c864b563.c9122","name":"Query devices","func":"msg.collection = 'users';\nmsg.payload = {devices:[0, msg.device_id]};\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":180,"wires":[["32ee88e5.f991f8"]]},{"id":"2932d218.897266","type":"function","z":"c864b563.c9122","name":"Verify Cycle ID","func":"var device_id = msg.topic.split('/')[0];\nvar timestamp = new Date().getTime();\n\n// Verificacion del ID del ciclo\nif(msg.payload.id.length < 12){ // Mal identificado\n    var BadID = context.get('BadID/'+ device_id) || 0; // Garantiza que los ciclos no se liguen entre dispositivos\n    var _id; // Identificador del ciclo\n    \n    if(BadID !== msg.payload.id){ // Si es la primera parte del ciclo\n        _id = \"C-\" + String(parseInt(timestamp/1000)); // Obten un nuevo Identificador del ciclo\n        context.set('_id/'+ device_id, _id); //Guardar\n    }\n    else{\n        _id = context.get('_id/' + device_id) || 0; // Si ya existe toma ese valor\n    }\n    context.set('BadID/' + device_id, _id);\n    msg._id = _id;\n}\nelse{\n    msg._id = msg.payload.id;\n}\n\nmsg.timestamp = timestamp;\nmsg.device_id = device_id;\nmsg.mqttpayload = msg.payload; // Asigna el payload a una nueva variable para preservar hasta despues de la consulta de DB \n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":180,"wires":[["70a22beb.8cfcfc"]]},{"id":"b4573e00.7a5208","type":"comment","z":"c864b563.c9122","name":"Funcionamiento","info":" - **Rx MQTT cycles:** Este nodo se encarga de recibir todos ciclos que provengan del topic `+/monitor/cycle`. Donde el simbolo `+` funciona como wildcard para recibir los identificadores de cada dispositivo. Ejemplo:`30AEA4180958/monitor/cycle`, por lo que el identificador del dispositivo seria su MAC: `30AEA4180958`\n - **Verify Cycle ID:** En primer lugar, se verifica si el ID del ciclo llegó correctamente. En caso de que no este bien, se asgina un identificador adecuado. Luego se guarda el identificador del ciclo en una variable del flow única para cada dispositivo.","x":120,"y":120,"wires":[]},{"id":"d62c624a.efc55","type":"mongodb in","z":"c864b563.c9122","mongodb":"fd99ae26.d791b","name":"Query Mongo","collection":"","operation":"find","x":300,"y":340,"wires":[["256048d6.465318"]]},{"id":"256048d6.465318","type":"function","z":"c864b563.c9122","name":"Prepare Data","func":"var device_id = msg.device_id; // Identificador del dispositivo\nvar _id = msg._id;  // Identificador del ciclo\nvar mqtt_cycle = msg.mqttpayload;\n\nconst sample_rate = 250;\nvar timestamp = msg.timestamp;\n\n//Llenado de la data\nvar mqtt_data = mqtt_cycle.cycle_data;\nvar cycle_data = [];\nvar press;\nvar fs;\nvar flow;\nvar power;\nfor (var i = 0; i < mqtt_data.length; i++){\n    press = mqtt_data[i][0];\n    fs = mqtt_data[i][1];\n    flow = get_flow(press, i);\n    power = get_power(press);\n    \n    cycle_data.push([(timestamp + i*sample_rate), press, flow, power]);\n}\n\n// Si existe data anterior concatena los valores\nvar data = [];\nif (msg.payload.length !== 0){ // Si hay datos dentro de la consulta\n    data = msg.payload[0].data; // Tomar la data de la consulta MongoDB\n}\ndata = data.concat(cycle_data);\n\nmsg.data = data;\n\nreturn msg;\n\n/* Funciones caracteristicas de las bombas */\nfunction get_flow(press, index){\n    // Ecuacion caracteristica para el flujo\n    var eq = -0.0088*Math.pow(press,3) + 1.447*Math.pow(press,2) - 82.004*press + 1744.5;\n    \n    if (index > 3){\n        if(eq > 0){\n            return eq;\n        }\n        else{\n            return 0;\n        }\n    } \n    else if (index === 0){\n      return 0;\n    } \n    else{\n      return null;\n    }\n}\n\nfunction get_power(press){\n    // Ecuacion caracteristica para potencia\n    var eq = (((-0.0088*Math.pow(press,3) + 1.447*Math.pow(press,2) - 82.004*press + 1744.5)*((press/1.422)*9.81))/(36*0.75));\n    if(eq > 0){\n        return eq;\n    }\n    else{\n        return 0;\n    }\n}","outputs":1,"noerr":0,"x":470,"y":340,"wires":[["5f8d930e.54040c"]]},{"id":"70aa4d42.7076ec","type":"mongodb out","z":"c864b563.c9122","mongodb":"fd99ae26.d791b","name":"Save mongoDB","collection":"","payonly":true,"upsert":false,"multi":false,"operation":"store","x":700,"y":420,"wires":[]},{"id":"c0bdeb8d.ae88f8","type":"function","z":"c864b563.c9122","name":"Parameters","func":"var data = msg.payload.data;\nvar pressMax = msg.payload.pressMax;\nvar pressMin = msg.payload.pressMin;\nvar volConsumed = Math.round(100*msg.payload.volConsumed)/100;\n\nvar status = global.get('status/' + msg.device_id) || 0;\n\nvar pump = msg.mqttpayload.pump;\nvar pumpTime = (data[data.length - 1][0] - data[0][0]) /1000;\n\nvar hiAlert = status.hidrocapitalAlert;\nvar hpAlert = status.highPressAlert;\nvar lpAlert = status.lowPressAlert;\nvar setpoint = status.setpoint;\nvar deadband = status.deadband;\nvar timeDelay = status.timeDelay;\nvar timeToStart = status.timeToStart;\nvar faultResetTime = status.faultResetTime;\nvar countP1f = status.counterPump1Fail;\nvar countP2f = status.counterPump2Fail;\nvar sel1 = status.selector1;\nvar sel2 = status.selector2;\n\nvar devices = msg.user[0].devices;\n\nvar tankLevelID = (devices.length > 1) ? devices[1][1]: msg.device_id;\nvar tankLevel = global.get('tankLevel/' + tankLevelID) || 0;\n\nmsg.payload = { \n                data,\n                volConsumed,\n                pump, \n                pumpTime, \n                pressMin, \n                pressMax,\n                hiAlert,\n                hpAlert,\n                lpAlert,\n                setpoint,\n                deadband,\n                timeDelay,\n                timeToStart,\n                faultResetTime,\n                countP1f,\n                countP2f,\n                sel1,\n                sel2,\n                tankLevel\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":420,"wires":[["3347e232.f6eb56","70aa4d42.7076ec"]]},{"id":"3347e232.f6eb56","type":"debug","z":"c864b563.c9122","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":480,"wires":[]},{"id":"2bba8e95.05256a","type":"mqtt in","z":"c864b563.c9122","name":"Rx MQTT status","topic":"+/monitor/status","qos":"0","datatype":"json","broker":"a8d3c013.5fa14","x":140,"y":540,"wires":[["d1ce1c60.e5e0e8"]]},{"id":"d1ce1c60.e5e0e8","type":"function","z":"c864b563.c9122","name":"save Status","func":"var device_id = msg.topic.split('/')[0];\n\nglobal.set('status/' + device_id, msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":540,"wires":[[]]},{"id":"5f8d930e.54040c","type":"function","z":"c864b563.c9122","name":"Filter","func":"var data = msg.data;\nvar pressMax = data[0][1];\nvar pressMin = data[0][1];\nvar volConsumed = 0;\n\nvar lastTimestamp = data[0][0];\nvar flow = 0;\nvar time = 0;\nvar counter = 1;\nfor (var i = 0; i < data.length; i++) {\n    if(data[i][1] < pressMax){\n        data[i][2] = null; // Si la presion actual supera la anterior anula el flow\n        data[i][3] = null; // Anula la potencia\n    }\n    else{\n        pressMax = data[i][1];\n    }\n    // Obten la presion minima\n    if(data[i][1] < pressMin){\n        pressMin = data[i][1];\n    }\n    \n    // Obten el Volumen aproximado en litros consumidos en el ciclo\n    if(data[i][2] !== null){\n        if(i > 0){\n            volConsumed += get_vol(data[i][2], counter);\n            counter = 1;\n        }\n    }\n    else{\n        counter++;\n    }\n}\n\n\nmsg.payload = {data, pressMin, pressMax, volConsumed};\n\nreturn msg;\n\nfunction get_vol(flow, counter){\n    return counter*flow*250/60000;\n}","outputs":1,"noerr":0,"x":270,"y":420,"wires":[["c0bdeb8d.ae88f8"]]},{"id":"1be59403.21a5ac","type":"function","z":"c864b563.c9122","name":"Query Cycles","func":"msg.user = msg.payload; // Guarda el usuario asociado a la MAC del dispositivo\nmsg.collection = 'cycles/' + msg.device_id;\nmsg.payload = {_id:msg._id};\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":260,"wires":[["d62c624a.efc55"]]},{"id":"32ee88e5.f991f8","type":"mongodb in","z":"c864b563.c9122","mongodb":"fd99ae26.d791b","name":"Query Mongo","collection":"","operation":"find","x":300,"y":260,"wires":[["1be59403.21a5ac"]]},{"id":"f080d713.f8af38","type":"mqtt in","z":"c864b563.c9122","name":"Rx MQTT status","topic":"+/level/monitor/status","qos":"0","datatype":"json","broker":"a8d3c013.5fa14","x":140,"y":600,"wires":[["b1415f9c.166b3"]]},{"id":"b1415f9c.166b3","type":"function","z":"c864b563.c9122","name":"save Status","func":"var device_id = msg.topic.split('/')[0];\n\nglobal.set('tankLevel/' + device_id, msg.payload.level_percent);\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":600,"wires":[[]]},{"id":"2749245d.a702fc","type":"debug","z":"556b50d.3e71e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":360,"wires":[]}]